@media screen and (max-width: 1580px) {
  .form-sort {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .block-search {
    margin-top: 5px;
  }
  .block-search,
  .block-search > input {
    min-width: 100%;
    margin-bottom: 10px;
  }
  .block-gender,
  .block-age,
  .block-name {
    min-width: 100%;
    padding: 30px 10px;
    margin-bottom: 15px;
  }
  .form-button {
    min-width: 100%;
    padding: 20px 0px;
    margin-bottom: 15px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 500px) {
  .header-h1 {
    margin: 0 auto;
  }
  .header-h1__flip-vertical {
    display: none;
  }
}
