* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	outline: none;
}

body {
	background-color: #95f1b1;
}

.main {
	width: 795px;
	height: 600px;
	background-color: #95f1b1;
	margin: 20px auto;
	padding: 15px;
	display: grid;
	grid-gap: 15px;
	grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.menu {
	grid-row: 2 / 2;
	grid-column: 2 / 4;
	max-height: 200px;
	padding: 1rem;
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 0 6px #555;
	border-radius: 5px;
}

.menu__title {
	font-size: 1.8rem;
}

.menu__btn {
	font-size: 1.4rem;
	margin-top: 0.5rem;
	width: 60%;
	height: 3.5rem;
	background-color: #a5e7e9;
	border-radius: 5px;
}

.card {
	perspective: 1000px;
	cursor: pointer;
}

.card__flipper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 8px #555;
	border-radius: 5px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: transform .5s;
}

.card-active .card__flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.card__front,
.card__back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__front {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}

.card__back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.card__img {
	max-width: 80%;
	height: 80%;
}

@media screen and (orientation: landscape) and (max-width: 991px) {
	.main {
		width: 120vh;
		height: 90vh;
		grid-template: repeat(3, 1fr) / repeat(4, 1fr);
	}

	.menu {
		grid-row: 2 / 2;
		grid-column: 1 / 5;
	}

	.menu__title {
		font-size: 1.6rem;
	}
}

@media screen and (orientation: portrait) and (max-width: 884px) {
	.main {
		width: 96vw;
		height: 128vw;
		background-color: #95f1b1;
		margin: 1rem auto;
		padding: 1rem;
		display: grid;
		grid-template: repeat(4, 1fr) / repeat(3, 1fr);
	}

	.menu {
		grid-row: 2 / 2;
		grid-column: 2 / 3;
		min-width: 290px;
	}

	.menu__title {
		font-size: 1.4rem;
	}
}

@media screen and (orientation: landscape) and (max-width: 576px) {
	.menu__title {
		font-size: 1.4rem;
	}
}

@media screen and (orientation: portrait) and (max-width: 576px) {
	.menu {
		grid-row: 2 / 2;
		grid-column: 1 / 5;
	}
}
