a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
}
a:focus::after {
  color: gray;
  border: 1px solid gray;
}
a:hover {
  color: gray;
  border: 1px solid gray;
}
.right_navigation__mail,
.right_navigation__images {
  align-self: center;
}

.right_navigation__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: right;
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.containers {
  width: 1000px;
}

.right_navigation__item {
  display: flex;
}
.right_navigation img {
  width: 25px;
}

.right_navigation__avatar img {
  border-radius: 50%;
}

.popup_btn:checked ~ .popup {
  display: block;
}

.popup_btn-icon {
  background: url("./img/popup-button.png") center no-repeat;
  width: 30px;
  border: 1px solid white;
}

.popup {
  display: none;
  position: absolute;
  border: 1px solid #d3d1d1;
  width: 310px;
  height: 450px;
  right: 22px;
  top: 45px;
  -webkit-box-shadow: 10px 9px 5px -4px rgba(214, 207, 214, 1);
  -moz-box-shadow: 10px 9px 5px -4px rgba(214, 207, 214, 1);
  box-shadow: 10px 9px 5px -4px rgba(214, 207, 214, 1);
}
.popup::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #d3d1d1;
  z-index: -1;
  top: -16px;
  left: 198px;
}
.popup::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  top: -15px;
  left: 199px;
  z-index: 5;
}

.popup img {
  width: 30px;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 20px 5px 20px;
}
.more-menu {
  display: none;
  border-top: 1px solid #c5c5c547;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 20px 20px 5px 20px;
}
.popup-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.show-more {
  display: block;
  height: 30px;
  text-align: center;
  background-color: #c5c5c547;
  padding-top: 10px;
  border: 1px solid white;
}
.show-more_btn:checked ~ .more-menu {
  display: flex;
}
.show-more_btn:checked ~ .show-more {
  opacity: 0;
}

.popup-item {
  width: 75px;
  height: 90px;
  padding: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  box-sizing: border-box;
}

.kottans {
  margin: 0px auto;
}

.popup_btn,
.show-more_btn {
  position: absolute;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}
.popup-checkbox:focus {
  color: gray;
  border: 1px solid gray;
}
.popup-checkbox:hover {
  color: gray;
  border: 1px solid gray;
}
.popup-checkbox {
  border: 1px solid white;
}

.popup_btn:focus + .popup_btn-icon {
  border: 1px solid grey;
}
.show-more_btn:focus + .show-more {
  border: 1px solid grey;
}
