main {
  display: flex;
}
h1 {
  text-align: center;
  color: #464241;
}
h2 {
  text-align: center;
  color: #464241;
  margin-right: 20px;
}
.container {
  width: 800px;
  margin-left: 10px;
}

.navigation {
  width: 25%;
}
.main__content {
  width: 75%;
}
.navigation__header {
  margin-top: 0;
}

.navigation__menu {
  padding-left: 0;
  margin-right: 20px;
}
.menu__item {
  list-style-type: none;
}

.menu__item__btn {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  background-color: white;
  color: #ff5722;
  border: 1px solid #ff5722;
  border-radius: 4px;
}
.menu__item__btn:hover {
  color: white;
  background-color: #ff5722;
}
.menu__item__btn:focus {
  color: white;
  background-color: #ff5722;
}

.company_img {
  padding-top: 40px;
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 699px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 466px) {
  h2 {
    margin-right: 0;
  }
  .container {
    width: 400px;
  }
  .navigation__menu {
    margin-right: 0;
  }
}
