* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	color: #000;
}

.nav_item {
	display: block;
	width: 100%;
	height: 20%;
	font-size: 18px;
	text-align: center;
	border: 1px solid transparent;
}

.nav_item:hover {
	background-color: #e4eef0;
	border: 1px solid #000;
	cursor: pointer;
}

.header {
	background-color: #e4eef0;
	width: 100vw;
	min-height: 5vh;
	text-align: center;
	letter-spacing: 1em;
	text-transform: uppercase;
	font-size: 16px;
}

.ul {
	width: 20vw;
	display: block;
	line-height: 3em;
}

.info {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.container {
	display: inline-flex;
	justify-content: flex-start;
	width: 100vw;
	padding: 10px;
}

.image {
	width: 50vw;
	height: auto;
	object-fit: cover;
}

.figcaption {
	position: relative;
	bottom: 40px;
	left: 15px;
	color: #fff;
	text-transform: uppercase;
}

.article-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

@media screen and (max-width: 700px) {
	.header {
		font-size: 10px;
	}
	.article-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.image {
		width: 90vw;
	}
	.container {
		flex-direction: column;
	}
	.nav_item {
		width: 90vw;
	}
}
