/*Common*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

label, a {
    color: #333333;
    font-weight: bold;
    box-sizing: border-box;
    opacity: 0.5;
    transition: 0.3s ease;
}

.container {
    box-sizing: border-box;
    max-width: 70%;
    margin: 0 auto;
}

.hidden {
    display: block;
    transform: scale(0);
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

/*Header*/

header {
    background-color: #f3f3f3;
    box-sizing: border-box;
}

/*Navigation Common*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-list {
    box-sizing: border-box;
}

/*Navigation main*/

.nav-list__main {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.nav-item {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.nav-item a, .label_popup__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
}

.nav-item__popup {
    position: relative;
}

/*Navigation popup main*/

.nav-list__inner {
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    right: -20px;
    top: 67px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-color: white;
}

.nav-list__inner::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid white;
    position: absolute;
    top: -12px;
    right: 48px;
}

.nav-item__inner__holder {
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}
.nav-list__inner__first, .nav-list__inner__second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
}

.nav-list__inner__second {
    border-top: 2px solid #f3f3f3;
}

.nav-item__inner {
    margin-bottom: 20px;
    width: 30%;
    box-sizing: border-box;
}

.nav-item__inner a {
    flex-wrap: wrap;
    padding: 10px;

}

.nav-item__inner img {
    width: 40px;
    margin-bottom: 10px;
}

.nav-item__inner span {
    width: 100%;
    text-align: center;
}

.nav-item__inner__label,
.nav-item__inner__link {
    width: 100%;
}

.label_popup__additional,
.nav-item__inner__link a {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #e6e6e6;
    border: 1px solid #e8e8e8;
}

/*Checkboxes Stages*/

.checkbox__main:not(:checked) ~ .nav-list__inner,
.checkbox__additional:not(:checked) ~ .nav-list__inner__second {
    display: none;
    opacity: 0;
}

.checkbox__main:checked ~ .nav-list__inner,
.checkbox__additional:checked ~ .nav-list__inner__second {
    display: flex;
    opacity: 1;
}

.checkbox__additional:not(:checked) + .label_popup__additional {
    display: block;
    opacity: 0.5;
}

.checkbox__additional:checked + .label_popup__additional {
    display: none;
    opacity: 0;
}

/*Hover and Focus*/

.nav-item a:hover,
.checkbox__main:hover + label,
.checkbox__additional:hover + .label_popup__additional {
    cursor: pointer;
    opacity: 1;
}

.nav-item a:focus,
.checkbox__main:focus + label,
.checkbox__additional:focus + .label_popup__additional {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    outline: none;
    cursor: pointer;
    opacity: 1;
}

/*Cats*/

.cats-section {
    padding: 30px 0;
}

.cats-section h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.cats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cat {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    margin-bottom: 25px;
}

.cat img {
    width: 300px;
    height: auto;
}

.cat figcaption {
    text-align: center;
    margin-top: auto;
}
