.nav_ul {
    list-style: none;
    padding-inline-start: 0;
}

.nav-open-button {
    display: none;
    background: no-repeat;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

.nav-open-button:focus {
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
}

.header {
    background-color: #013368;
    display: flex;
}

.header-image {
    max-height: 100px;
}

.header-title {
    color: white;
    font-size: 50px;
    text-align: center;
    align-self: center;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.nav-button {
    width: 100%;
    height: 40px;
    color: #013368;
    background-color: rgb(203, 199, 207);
    border: 5px solid transparent;
    font-size: 20px;
}

.nav-button:hover {
    border: 5px solid rgb(218, 214, 226);
    background-color: rgb(218, 214, 226);
}

.nav-button:focus {
    outline: none;
    border-image: linear-gradient(to right, transparent 94%, #013368 10%) 19;
}

.highlight {
    border-image: linear-gradient(to right, transparent 94%, #013368 10%) 19;
}

.aside {
    position: absolute;
    bottom: 0;
    top: 100px;
    background-color: rgb(203, 199, 207);
}

.main {
    padding: 10px;
    margin-left: 260px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainItem-title {
    font-size: 30px;
    text-align: center;
}

.mainItem-image {
    max-width: 100%;
    max-height: 300px;
}

.mainItem-about {
    text-align: justify;
}

.page {
    display: flex;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(242, 240, 245)
}

@media(max-width:768px) {
    .nav-open-button {
        display: block;
    }
    .nav {
        width: 100%;
    }
    .header {
        justify-content: space-between;
        height: 50px;
    }
    .header-image {
        height: 100%;
    }
    .header-title {
        font-size: 6vw;
    }
    .nav-button{
        height: fit-content;
    }
    .aside {
        display: none;
        top: 50px;
        width: 100%;
        height: fit-content;
    }
    .nav-button:focus {
        border-image: linear-gradient(to right, transparent 98%, #013368 2%) 15;
    }
    .highlight {
        border-image: linear-gradient(to right, transparent 98%, #013368 2%) 15;
    }
    .main {
        margin: 0;
    }
    .hidden {
        display: block;
    }
}
