* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* Navigation */

.nav {
  position: fixed;
  top: 10px;
  right: 100px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 10px;
}

.nav-item label {
  cursor: pointer;
}

.nav-item:hover {
  outline-style: none;
  border-color: gray;
}

.nav-item-mail:focus, .nav-item-images:focus, .nav-item-checker:focus+label, .nav-item-bell:focus, .nav-item-avatar:focus {
  outline: solid thin blue;
}

.nav-item-link {
  padding-top: 5px;
}

.nav-item-mail, .nav-item-images {
  font-size: 17px;
  text-decoration: none;
  color: #767676;
}

.nav-item-img {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border-radius: 10px;
}

.nav-item-checker {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.popup-icon {
  display: block;
  background: url(https://raw.githubusercontent.com/phpslonuk/Hooli-style_Popup/main/popup-icons/popup-button.png) no-repeat;
  background-position: left center;
  background-size: auto 100%;
  width: 26px;
  height: 26px;
}

/* Check for correctness of work */

input[type="checkbox"]:checked~.popup-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 20px 0px 20px;
  width: 125%;
  height: 495px;
  overflow-y: auto;
}

/* Popup menu */

.popup-menu {
  display: none;
  border: 1px solid black;
  width: 310px;
  position: absolute;
  top: 55px;
  right: 10px;
}

.popup-menu-li {
  margin-bottom: 25px;
}

.popup-item:hover {
  outline-style: none;
  border-color: gray;
}

.popup-item:focus {
  outline-style: none;
  border-color: blue;
}

.popup-item {
  width: 80px;
  height: 80px;
  padding: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
}

.popup-item-icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-item-icon img {
  margin: 0 auto;
  max-width: 55px;
  max-height: 45px;
  object-fit: cover;
}

.show-more-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.show-more:hover, .show-more-btn:focus+.show-more {
  color: white;
  background-color: #ebe2da;
  cursor: pointer;
}

.show-more {
  transition: all 0.2s ease-in;
  background-color: #ebe2da;
  display: inline-block;
  width: 275px;
  text-align: center;
  line-height: 2rem;
}

.show-more-btn:checked~.sub-menu {
  display: flex;
  border-top: 1px solid #ebe2da;
}

.show-more-btn:checked+.show-more {
  display: none;
}

.sub-menu {
  display: none;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  height: 55%;
}

.kottans {
  margin: 10px auto;
  text-align: center;
  line-height: 2rem;
  margin-left: 45px;
}