/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* End of resetting css */

body {
    font: caption;
    color: #5f6368;
    font-size: 12px;
}


.navbar{
    display: flex;
    justify-content: flex-end;

    a{
        color: #5f6368!important;
        text-decoration: none;
        padding: 10px;
    }

    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-button{
        img{
            max-width: 25px;
            max-height: 25px;
        }
    }

    &-profile_icon{
        border-radius: 50%;
    }
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup {
    visibility: hidden;
    border: 1px solid #d9d9d9;
    margin-right: 150px;
    top: 50px;
    right: -77px;
    position: absolute;
    width: 300px;
    box-shadow: 1px 5px 15px 4px #cfcfcf;

    &-icons {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 15px 0;

        .popup-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 33.333%;
            padding: 1rem 1.25rem;

            img {
                max-width: 100%;
                max-height: 40px;
                margin-bottom: 1.5rem;
            }

        }
    }

    .popup-footer {
        padding: 10px 0;
        width: 100%;
        background-color: #f5f5f5;
        text-align: center;
    }

    /* this CS forms the triangles */
    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
    }


    /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
    &:after {
        left: 250px;
        bottom: 100%;
        border-color: transparent transparent white transparent;
        border-width: 10px;
    }

    &:before {
        left: 249px;
        bottom: 100%;
        border-color: transparent transparent #d9d9d9 transparent;
        border-width: 11px;
    }


}
