* {
  box-sizing: border-box;
  padding: 0;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
  display: block;
  background-color: #ede1cb;
  opacity: 0.8;
  border: 2px solid #735533;
  border-radius: 0.5%;
}

.header_container {
  position: relative;
  height: 120px;
  max-width: 1225px;
  background-image: url("images/sheet_music.jpg");
  background-size: cover;
  border-bottom: 2px solid #735533;
  opacity: 0.8;
}

.head_title {
  font-size: 60px;
  font-weight: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
  text-align: center;
  position: absolute;
  width: 100%;
  top: -20px;
}

.nav {
  width: 250px;
  border: none;
  height: 581px;
  flex: 0 1 255px;
}

.month {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
  font-size: 25px;
  color: black;
  padding: 8px 1px;
  margin-bottom: 1.5px;
  width: 250px;
  border: none;
  text-align: left;
  transition: 0.3s;
  height: 47px;
  cursor: pointer;
  background-color: #ede1cb;
  border: 0.5px solid #735533;
}

.month:hover,
.month:focus,
.active {
  background-color: #a89575;
}

.nav_content {
  display: flex;
  width: 100%;
}

.content {
  display: none;
  flex: 1;
  height: 581px;
  border: 1px solid #ccc;
  background-color: #ede1cb;
  width: 920px;
}

.content_img {
  width: 928px;
  height: 580px;
  border: 1px solid #735533;
  margin-top: -57px;
}

audio {
  position: relative;
  top: 20px;
  left: 30%;
  opacity: 0.5;
}

@media screen and (min-width: 901px) and (max-width: 1199px) {
  .header_container {
    height: 110px;
  }

  .head_title {
    font-size: 53px;
  }

  .nav,
  .month {
    max-width: 1179px;
    width: 100%;
  }

  .month {
    text-align: center;
  }

  .content,
  .content_img {
    height: auto;
    max-width: 1177px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .nav_content {
    display: inline-block;
  }

  .header_container {
    height: 100px;
  }

  .head_title {
    font-size: 45px;
  }

  .nav,
  .month {
    max-width: 880px;
    width: 100%;
  }

  .month {
    text-align: center;
  }

  .content,
  .content_img {
    height: auto;
    max-width: 878px;
    width: 100%;
  }

  audio {
    left: 25%;
  }
}

@media screen and (min-width: 401px) and (max-width: 599px) {
  .nav_content {
    display: inline-block;
  }

  .header_container {
    height: 160px;
  }

  .head_title {
    font-size: 40px;
  }

  .nav,
  .month {
    max-width: 580px;
    width: 100%;
  }

  .month {
    text-align: center;
  }

  .content,
  .content_img {
    height: auto;
    max-width: 578px;
    width: 100%;
  }
  audio {
    left: 18%;
  }
}

@media screen and (min-width: 250px) and (max-width: 399px) {
  .nav_content {
    display: inline-block;
  }

  .header_container {
    height: 140px;
  }

  .head_title {
    font-size: 35px;
  }

  .nav,
  .month {
    max-width: 380px;
    width: 100%;
  }

  .month {
    text-align: center;
  }

  .content,
  .content_img {
    height: auto;
    max-width: 378px;
    width: 100%;
  }
  audio {
    left: 10%;
  }
}
