@media (max-aspect-ratio: 4/1) {
  :root {
    --columns: 4;
    --rows: 3;
    --card-size: 150px;
  }
  @media (max-height: 490px) {
    :root {
      --card-size: 30vh;
    }
  }
}

@media (max-aspect-ratio: 9/10) {
  :root {
    --columns: 3;
    --rows: 4;
    --card-size: 150px;
  }
  @media (max-width: 490px) {
    :root {
      --card-size: 30vw;
    }
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(41, 41, 41);
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--card-size));
  grid-template-rows: repeat(var(--rows), var(--card-size));
  grid-gap: 10px;
}

.cardPlace {
  position: relative;
  perspective: 2000px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.card {
  background: center center no-repeat rgba(56, 56, 56, 1);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3), 0px 3px 28px 0px rgba(0,0,0,0.21);
}

.card:hover {
  cursor: pointer;
}
