* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #757575;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.nav__menu {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    width: 100%;
    height: 20%;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    font-size: 16px;
    padding: 0px 0 5px 0;
    margin: 20px 0 0 0;
}

.extra__label {
    position: absolute;
    z-index: 1;
    background: lightblue;
    font-size: 15px;
    padding: 15px 0 10px 0;
    height: 50px;
    width: 348px;
    right: 90.5px;
    top: 521px;
    text-align: center;
}

.li_popup {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.nav__link {
    padding: 2px;
    margin: 0 0px 0 20px;
}

.menu__top {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid darkgray;
    box-shadow: 0 0 15px lightgray;
    right: 88px;
    top: 100px;
    justify-content: center;
}

.popup {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 43px;
    margin: 0 auto 10px;
}

.popup:hover {
    transition-duration: 0.22s;
    opacity: 0.7;
}

.p_popup {
    padding: 20px 20px 15px 20px;
    margin: 0;
    font-size: 13px;
}

.p_popup:focus {
    border: 1.5px solid black;
}

.b__menu {
    width: 1.5em;
    height: 1.5em;
    background-image: url(./images/apps.jpg);
    padding: 0;
    margin: 0 0 0 20px;
}

.check__input~.menu__top {
    display: none;
}

.check__input~.extra__label {
    display: none;
}

.check__input:checked~.menu__top {
    display: flex;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 352.5px;
    height: 473px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.check__input:checked~.extra__label {
    display: flex;
    justify-content: center;
}

.check__input~.label {
    display: none;
}

.check__input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin: 0 0 15px 15px;
    width: 25px;
    height: 25px;
    left: -16px;
    margin-top: -1px;
    cursor: pointer;
}

.check__input2 {
    height: 29px;
    width: 350px;
    background-color: whitesmoke;
    border: 1px solid #e6e6e6;
    opacity: 0;
    position: absolute;
    display: flex;
    top: 530px;
    right: 50px;
    z-index: 2;
}

.check__input2:checked~.menu__top {
    height: 440px;
    overflow: auto;
}

.check__input2:checked~.extra__label {
    display: none;
}

.check__input2:checked {
    display: none;
}

.hr_line {
    border: 1px solid rgba(75, 75, 75, 0.2);
    margin: 8px 0 8px 0;
    width: 331px;
}

.check__input2:checked~.hr_line {
    display: block;
}

.check__input2 :checked {
    display: block;
}

.kottans_link {
    margin-top: 10px;
    padding: 5px 0 15px 0;
    font-size: 13.5px;
}

.bell {
    margin: 0 0 0 20px;
    height: 21px;
    width: 18px;
    cursor: pointer;
}

.avatar {
    margin: 0 88px 0 20px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
}
