@import url(https://fonts.googleapis.com/css?family=Roboto:wght@300&display=swap);

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-text {
    margin-right: 20px;
}

.icon {
    margin-right: 20px;
}

.icon img {
    width: 16px;
    height: 20px;
}

.avatar {
    margin-right: 20px;
}

.avatar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.popup-icon:hover, .icon:hover, .avatar:hover {
    border: 1px solid #95d0ed;
}

ul {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

li {
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4a4d4f;
}

a:focus {
    border: 1px solid #c6cccf;
    border-radius: 2px;
    outline-style: none;
}

.nav-text:hover,
.kottans:hover {
    text-decoration: underline;
}

.popup {
    display: inline;
    margin-right: 20px;
}

.popup .popup-container {
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 83%;
    width: 14%;
    height: 380px;
    background-color: #fff;
    border: 1px solid #c6cccf;
    box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.2);
    transition: opacity .2s ease-in-out .5s, top .2s ease-in-out .5s;
    overflow: auto;
    opacity: 0;
}

.popup:hover .popup-container {
    top: 6%;
    opacity: 1;
}

.popup-container:hover {
    top: 6%;
    opacity: 1;
}

.popup-items, .more-hidden {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.more-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4a4d4f;
    width: 100%;
    padding: 12px;
    background-color: #c6cccf;
    justify-self: stretch;
}

.more-text:focus {
    border: 1px solid #95d0ed;
}

.more-hidden {
    width: 100%;
}

.more-hidden .more{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s ease-in-out .5s;
}

.more-hidden:hover .more, .more-hidden:focus .more{
    opacity: 1;
}

.popup-item,
.more-item {
    width: 45px;
    height: 45px;
    margin: 15px;
}

.popup-item-icon,
.more-item-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin: 0;
}

.pop-item:hover {
    border: 1px solid #c6cccf;
}

.more-last-item {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
