body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.text-white {
  color: white;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;
  overflow: hidden;

  background-color: black;
  transition: 0.5s;
}

.opened {
  width: 220px;
}

.menu {
  display: flex;
  padding-top: 35px;
  padding-left: 20px;
  flex-direction: column;
}

.menu > li {
  display: block;
  width: 180px;
  list-style: none;
}

.menu-item {
  display: block;
  width: 100%;

  padding: 10px;

  text-decoration: none;
  color: gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.menu-item:hover,
.menu-item:focus {
  color: white;
}

.active {
  color: black;
  background-color: gray;
}

p {
  margin: 0;
  padding: 0;
  
  font-size: 16px;
}

.btn-toogle-menu {
  position: fixed;
  top: 0px;
  left: 220px;

  width: 48px;
  height: 48px;

  padding: 10px;
  border: solid white thin;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 10px;

  font-family: monospace;
  font-size: 40px;
  text-decoration: none;
  color: black;
  background-color: white;
  outline: none;

  transition: 0.5s;
}

.btn-toogle-menu:before {
  position: absolute;
  content: "«";
  top: 0;
  left: 10px;

  outline: none;
  cursor: pointer;
}

.btn-toogle-menu:after {
  content: "";
}

.btn-toogle-menu:focus,
.btn-toogle-menu:hover
{
  border-color: gray;
}

.btn-toogle-menu:active
 {
  border-color: red;
  color: red;
}

.closed {
  left: 0;
  cursor: pointer;
}

.closed:before {
  content: "";
}

.closed:after {
  position: absolute;
  content: "☰";
  top: 3px;
  left: 6px;
  font-family: monospace;
  font-size: 36px;
  vertical-align: middle;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90px 1fr 1fr 1fr 60px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px; 

  margin-top: 0;
  margin-right: 6%;
  margin-left: 240px;
  padding-left: 20px;

  height: calc(100vh - 70px);
  min-height: 400px;

  transition: 0.5s;
}

.wide {
  margin-left: 0;
}

.title {
  grid-area: 1 / 1 / 1 / 7;
  align-self: center;
  justify-self: center;
  font-size: 30px;
}

.picture {
  grid-area: 2 / 1 / 7 / 4;
  align-self: start;
  justify-self: center;
  max-width: calc(100% - 20px);

  padding: 10px;

  border: solid gray thin;
}

.description {
  grid-area: 2 / 4 / 5 / 7;
  align-self: start;
  text-indent: 20px;
}

.habitat-line {
  grid-area: 5 / 4 / 5 / 7;
  align-self: start;
  margin-right: 40px;
  border-bottom: lightgray solid;
  border-bottom-style: double;
}

span.habitat {
  font-style: italic;
}

.method {
  grid-area: 6 / 4 / 6 / 7;
  align-self: start;
}

img {
  max-height: 90%;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 0;

  margin-right: 20px;
  
  background-color: white;

  text-align: right;
  font-size: 10px;
}

@media screen and (max-width: 1030px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15% 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
  
    height: 60vh;
    min-height: 300px;

    transition: 0.5s;
  }

  p {
    font-size: 16px;
  }
  
  .title {
    grid-area: 1 / 1 / 1 / 3;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 20px;
  }
  
  .picture {
    grid-area: 2 / 1 / 4 / 2;
  }
  
  .description {
    grid-area: 2 / 2 / 2 / 3;
  }
  
  .habitat-line {
    grid-area: 3 / 2 / 3 / 3;
  }
  
  .method {
    grid-area: 4 / 1 / 4 / 3;
  }
  
}

@media screen and (max-width: 820px) {

  /* This code toggles initial menu state when viewport wide less 820px*/

  .menu-container {
    width: 220px;
  }
  
  .opened {
    width: 0;
  }

  .wrapper {
    margin-left: 0;
  }
  
  .wide {
    margin-left: 240px;
    padding-left: 20px;
  }

  .btn-toogle-menu {
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  
  .btn-toogle-menu:before {
    content: "";
  }
  
  .btn-toogle-menu:after {
    position: absolute;
    content: "☰";
    top: 3px;
    left: 6px;
    font-size: 36px;
  }
  
  .closed {
    position: absolute;
    left: 220px;
    padding: 10px;
  }
  
  .closed:before {
    position: absolute;
    content: "«";
    top: 0;
    left: 10px;
    font-family: monospace;
    font-size: 36px;
    vertical-align: middle;
  }
  
  .closed:after {
    content: "";
  }
}

@media screen and (max-width: 800px) {

  body {
    min-width: 300px;
  }

  .btn-toogle-menu {  
    font-size: 36px;
  }

  .wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    min-width: 300px;
    min-height: 300px;
    
  }

  p {
    font-size: 1.1em;
  }
  
  .title {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 18px;
  }
  
  .picture {
    width: calc(100% - 20px);
    height: auto;
    max-height: none;
  }

  footer {
    display: none;
  }
}
