body {
    text-align: center;
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

.settings {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 550px;
    background-color: white;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.75);
}

.form-title {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 25px;
}

.settings-form {
    padding: 20px;
    margin: 0;
}

.form-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.form-item {
    box-sizing: border-box;
    width: 80px;
}

.form-label {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 105px;
}

.avatar {
    transition: 0.3s linear;
}

.form-label, .form-label > * {
    cursor: pointer;
}

.radio__avatar:checked + .avatar {
    border: 1px solid rgba(50, 191, 251, 0.75);
    transform: scale(1.1);
}

.radio__avatar:hover + .avatar,
.radio__avatar:focus + .avatar {
    transform: scale(1.2);
}

.form-label__level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    text-align: center;
    margin-top: 15px;
}

.ico {
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgba(50, 191, 251, 0.75);
    border-radius: 50%;
    position: relative;
    transition: 0.3s linear;
}

.ico::after {
    opacity: 0;
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(50, 191, 251, 0.75);
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    content: '';
    transition: 0.3s linear;
}

.radio__level:checked + .ico::after {
    opacity: 1;
}

.radio__level:hover + .ico::after,
.radio__level:focus + .ico::after {
    opacity: 0.5;
}

.button {
    font: inherit;
    border: none;
    background-color: rgba(50, 191, 251, 0.75);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 80px;
    text-transform: uppercase;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s linear;
}

.button:hover {
    width: 320px;
}

button:focus {
    outline: none;
    border: 3px solid rgba(50, 191, 251, 0.95);
    width: 320px;
}
