.filter-item {
    display: none;
}

.filter-item--opened {
    display: block;
    height: 40px;
    padding: 7px;
    border: 1px solid;
    border-image: linear-gradient(to right, var(--gold-color) 55%, transparent 100%) 2 / 2 / 1 stretch;
    background-color: black;
    background-color: #d6d6d6;
}

.filter-item__options {
    height: 26px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.filter-item__options svg,
.filter-item__options svg * {
    pointer-events: none;
}

.filter-item__option {
    height: 26px;
    width: 26px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.filter-item__option svg {
    width: 100%;
    height: 100%;
    fill: var(--brown-color);
}

input.filter-item__option {
    flex-grow: 1;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-item__option:hover svg,
.filter-item__option--activated svg {
    fill: var(--gold-color);
}

input.filter-item__option:hover,
input.filter-item__option--activated {
    border-color: var(--gold-color);
}

.filter-item__option--activated,
input.filter-item__option--activated {
    background-color:var(--brown-color);
}

input.filter-item__option--activated {
    color: var(--gold-color);
}
