.icon-item {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 12px solid;
    border-image-source: url('./../images/icon-images/icon-border.png');
    border-image-slice: 12;
    border-image-outset: 0;
    border-image-repeat: repeat;
    background-color: black;
}

.search-icon-list .icon-item {
    width: 25%;
}

.sort-icon-list .icon-item {
    min-width: 23%;
 }

.sort-icon-list .icon-item:last-of-type {
   flex-grow: 1;
}

.icon-item__heading {
    font-size: 14px;
    margin-top: 5px;
}

.icon-item svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.icon-item--activated {
    background-color: var(--brown-color);
}

.icon-item--selected {
    background-color: var(--green-color);
}

.icon-item:hover .icon-item__heading,
.icon-item--selected .icon-item__heading {
    color: var(--gold-color);
}

.icon-item:hover svg,
.icon-item--selected svg {
    fill: var(--gold-color);
}

.icon-item svg,
.icon-item svg *,
.icon-item__heading {
    pointer-events: none;
}
