.pagination-list {
    height: 40px;
    padding: 7px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.pagination-item {
    width: 7%;
}

.corner-pagination-item {
    width: 14.5%;
}

.pagination-item,
.corner-pagination-item {
    cursor: pointer;
}

.pagination-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    font-size: 14px;
    color: white;
    border: 1.5px solid var(--gold-color);
    border-radius: 5px;
    pointer-events: none;
    text-decoration: none;
}

.pagination-item:hover .pagination-link,
.corner-pagination-item:not(.corner-pagination-item--disabled):hover .pagination-link {
    color: var(--gold-color);
    border-color: var(--gold-color);
}

.pagination-item--selected .pagination-link {
    background-color: var(--green-color);
    color: var(--gold-color);
    border-color: var(--gold-color);
}

.corner-pagination-item--disabled .pagination-link {
    border-color: rgb(156, 156, 156);
    color: rgb(156, 156, 156);
    pointer-events: none;
}
