/****** BASE RESET ******/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

li {
  list-style-type: none;
}

$colors: (
  background: #3b5079,
  text: #f3f3f3,
  link: #081c38,
);

@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

/****** FONTS ******/
@font-face {
  font-family: 'game_of_thronesregular';
  src: url('assets/fonts/game-of-thrones-webfont.woff2') format('woff2'), url('assets/fonts/game-of-thrones-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'game_of_thronesregular', sans-serif;
  font-size: 16px;
  color: color(text);
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 7px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 60rem;
  background-color: color(background);
}

header {
  opacity: 1;
}

.title {
  margin: 3rem 0 1.5rem;
}

.moves {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1rem;

  strong {
    font-size: 1.5rem;
  }
}

.won-message {
  display: none;
  position: relative;
  top: 0;
  height: 70vh;
  width: auto;
  opacity: 0;
  transition: all 0.5s ease-in;

  .col {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 7rem;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
}

.won-image {
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.won-text {
  text-align: center;
  margin-top: 1rem;
}

.new-game {
  display: block;
  height: 2.5rem;
  width: 8rem;
  background-color: color(background);
  text-align: center;
  margin: 1rem auto 0;
  padding-top: 0.7rem;
  color: color(text);
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.2);
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: color(link);
  }
}

.all-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 40rem;
  width: 100%;
  height: 100%;
  max-height: 50rem;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.card-container {
  perspective: 1000px;
  cursor: pointer;
  margin: 0.3rem;
  opacity: 1;
}

.card-container.flipped .flipper {
  transform: rotateY(180deg);
}

.card-container,
.front,
.back {
  width: 9rem;
  height: 11rem;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5%;
}

.front,
.back {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-image: url('assets/cards/front.webp');
  background-size: 120%;
  background-position: 50% 50%;
}

.back {
  overflow: hidden;
  transform: rotateY(180deg);
}

.flipper,
.front,
.back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-image {
  width: 9rem;
  height: 11rem;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.fire {
  background-image: url('assets/fire.gif');
  background-position: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;
}

.cat-left,
.cat-right {
  position: absolute;
  top: 40%;
  height: 20rem;
  width: 0;
  opacity: 1;
  background-image: url(assets/dragon-cat-removebg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: opacity 1.5s ease-in-out;
}

.cat-right {
  transform: scaleX(-1);
}

@media only screen and (min-width: 768px) {
  .cat-left,
  .cat-right {
    top: 20%;
  }
}

footer {
  font-family: 'game_of_thronesregular';
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0.5rem 0 1rem;
  opacity: 1;
}

.footer-info {
  height: 100%;
  width: 200%;
  padding: 1rem 0;
  background-color: color(background);
  border-radius: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
}

.github-link {
  color: color(text);
  &:hover {
    color: color(link);
  }
}

.none {
  display: none;
  opacity: 0;
}

.zero-opacity {
  opacity: 0;
}

.show {
  display: block;
  opacity: 1;
}
