*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.nav-panel{
    float: right;
    display: flex;
}

.mail,
.img
{
    display: block;
    padding: 12px 0px;
    min-width: 80px;
    text-align: center;
}

.bell img{
    width: 40px;
}

.user img{
    width: 40px;
    height: 40px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin: 10px;
    border: solid 1px transparent;
    border-radius: 6px;
}

.nav-item:hover {
    cursor: pointer;
    border: solid 1px green;
    border-radius: 6px;
    box-shadow: 0 0 10px green;
}

.nav-item>a {
    color: #757575;
}

.popup-wrapper{
    padding: 2px;
    width: 40px;
    height: 40px;
}

.popup-item{
    padding: 10px;
    color: darkgreen;
    text-decoration: none;
}

.popup-item:hover{
    background-color: #0baa85;
}

.popup-item:focus{
    background-color: #0baa85;
    outline: none;
}

.div-for-menu{
    width: 433px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.popup-label{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("img/popup-button.png");
    background-repeat: no-repeat;
    background-position: center;
}

.popup-menu{
    width: 450px;
    height: 472px;
    background-color: #D3D3D3;
    position: absolute;
    top: 8%;
    right: 2%;
    border: solid 1px #777;
    border-radius: 6px;
    box-shadow: 8px 8px 16px -1px gray;
    overflow-x: hidden;
    z-index: 1;
    visibility: hidden;
}

.popup-menu::-webkit-scrollbar{
    width:12px;
}

.popup-menu::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

.popup-menu::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

.popup-menu::-webkit-scrollbar-track{
    border-width:0;
}

.popup-menu::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.popup-input{
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -1;
}

.more-button{
    display: block;
    width: 100%;
    padding: 7px 0;
    border: none;
    color: white;
    background-color: #2e923f;
    cursor: pointer;
    text-align: center;
}

.popup-input:after{
    content:url("img/popup-button.png");
}

.popup-input[type="checkbox"]:checked ~ .popup-menu {
    visibility:visible;
}

.popup-item{
    display: block;
    margin:2px 0px;
}

.popup-item>p{
    text-align: center;
}

.link{
    display: block;
    width: 100%;
    padding: 7px 0;
    border: none;
    color: white;
    background-color: #2e923f;
    cursor: pointer;
    text-align: center;
}
