.nav-link img {
    max-width: 30px;
}
.nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 300px;
    list-style-type: none;
    padding-right: 30px;
}
.nav-item a {
    text-decoration: none;
    color: gray;
}

.popup-link img {
    max-width: 50px;
}

.myhtmlpopup {
    display: none;
    position: absolute;
    top: 40px;
    width: 300px;
    left: -200px;
    max-height: 325px;
    overflow: auto;
    box-shadow:1px -2px 10px 0px rgba(50, 50, 50, 0.5)
}

.mypopup:checked ~ .myhtmlpopup {
    display: block;
}

.mypopup {
    position: absolute;
    top: 32%;
    left: 34%;
    transform: translate(-50%, -50%);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
}

.popup {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.more-wrapper {
    text-align: center;
    position: relative;
}

.popup-link {
    display: flex;
    flex-direction: column;
}

.popup-item {
    padding: 10px 0;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a, a:focus, a:hover {
    text-decoration: none;
}

.nav-link-btn:focus {
    outline: none;
}

.read-more-state {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 22px;
    width: 37px;
    position: absolute;
}
  
.read-more-target {
    display: none;
    max-height: 0;
    transition: .25s ease;
}
  
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    display: flex;
    flex-wrap: wrap;
}
  
.read-more-state:checked ~ .read-more-trigger {
    display: none;
} 

.read-more-state:checked {
    height: 0;
    width: 0;
}
  
.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
}

  