* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #a9d8ac;
}

.header {
    position: fixed;
    height: 4rem;
    padding: .6rem 1.5rem;
    width: 100%;
    background-color: #54a1b6;
    box-shadow: 0 0 8px #777;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    position: absolute;
    color: #0e1f16;
    font-size: 2.4rem;
    letter-spacing: .15rem;
}

.header__social {
    list-style-type: none;
    width: 350px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__social__link {
    text-decoration: none;
    color: #0c1b14;
}

.header__social__link:hover {
    color: #fff;
}



.navbar {
    display: flex;
    position: fixed;
    margin-top: 4rem;
    width: 220px;
    height: 100%;
    padding: 1rem;
    background-color: #e6e1a1;
    box-shadow: 0 0 7px #999;
    flex-direction: column;
    transition: left .7s;
}

.input__search {
    height: 1.8rem;
    width: 100%;
    font-size: .9rem;
    border-radius: 4px;
    border: none;
    padding: 0 2.2rem;
    background: #fff no-repeat .6rem/1.1rem url(./img/search.png);
    margin-bottom: 1rem;
    box-shadow: 0 0 6px #999;
}

.input__btn {
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    cursor: pointer;
}

.input__btn-up {
    background: no-repeat .2rem/1.75rem url(./img/up-arrow.png)
}

.input__btn-down {
    background: no-repeat .2rem/1.75rem url(./img/down-arrow.png)
}

.search__by-gender {
    height: 4.5rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .7rem 0;
}

.search__by-gender__label {
    cursor: pointer;
}

.search__by-alphabet,
.search__by-age,
.search__by-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: .7rem 0;
}

.search__arrows {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.search__reset {
    width: 100%;
}

.search__reset__btn {
    display: block;
    width: 150px;
    margin: 1.5rem auto;
    height: 2.3rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #999;
    cursor: pointer;
}

.main {
    min-height: 100vh;
    margin-left: 220px;
    padding: 5rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1.2rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 0 7px #777;
}

.card.male {
    background-color: #c3e6ee;
}

.card.female {
    background-color: #f0d8e0;
}

.card__img {
    border-radius: .5rem;
    width: 100%;
    height: auto;
    margin-bottom: .8rem;
}

.card__name {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}

.card__age {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.card__location {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: .2rem;
}

.card__contacts {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__link {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.card__link:hover {
    background-color:#54a1b6;
}

.card__mail__img{
    height: 1.2rem;
}

.card__phone__img {
    height: 1.5rem;
}

.error {
    margin: 3rem auto;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

@media screen and (max-width: 745px) {

    .popup {
        width: 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .popup__top-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
        transition: all .5s;
    }

    .popup__mid-line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #000;
        transition: all .5s;
    }

    .popup__bottom-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
        transition: all .5s;
    }

    .popup-active .popup__top-line {
        transform: translateY(8px) rotate(45deg);
    }

    .popup-active .popup__mid-line {
        width: 0;
    }

    .popup-active .popup__bottom-line {
        transform: translateY(-7px) rotate(-45deg);
    }

    .header__title {
        font-size: 2rem;
        position: relative;
    }

    .header__social {
        display: none;
    }

    .navbar {
        left: -220px;
    }

    .navbar-active {
        left: 0;
    }

    .main {
        margin: 0;
        justify-content: center;
    }
}
