* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.05;
  background: #5278a3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
}

#wrapper {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

#menu_forms {
  /* width: 250px; */
  margin: 20px 0 0 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.form_section {
  display: inherit;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 22px;
}
.section_name{
  margin-top: 10px;
}

#container {
  /* width: calc(100% - 370px); */
  /* margin-right: 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: inline-block;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 260px;
  margin: 20px 25px;
  color: #3118bd;
  text-align: center;
  vertical-align: top;
  padding-bottom: 10px;
  background: #93d42a;
  border-radius: 3%;

}

.picture {
  width: 100%;
  height: 115px;
  padding: 5px 0;
  border-bottom: 1px solid #cccccc;
}

.picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card h1 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000000;
}

.cardInfo {
  text-align: left;
  padding-left: 10px;
}

.cardInfo .text_title {
  font-weight: 600;
}

.card p {
  margin: 10px 0;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.form_section {
  padding: 0px;
}

.form_section span {
  display: block;
  font-weight: 600;
  padding: 4px;
  font-size: 16px;
}

.rdBtn {
  /* display: flex;
  flex-wrap: wrap;

  justify-content: left; */
  padding: 5px 0;
  margin: 4px 11px 20px 13px;
}

.form_label {
  padding: 5px 0;
}

.resetButton {
  width: 180px;
  height: 30px;
  margin-top: -15px;
  padding: 2px;
  background: #696969;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
}