body {
  width: 90%;
  max-width: 500px;
  
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
}

.container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.card {
  width:100%;
  opacity: 1;
  transition-duration: 500ms;
}

.hide{
  opacity: 0;
}
