/* main styles */

body {
  background-color: #f0eee8;
  font-family: sans-serif;
  margin: 0;
}

nav {
  width: 550px;
  float: right;
  background-color: white;
  height: 37px;
  margin: 20px;
  border-radius: 5px;
}

.nav-container {
  float: right;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-el > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px;
}

#menu-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-label img {
  width: 27px;
  height: 27px;
  border-radius: 3px;
}

#profile-photo {
  border-radius: 50%;
  width: 27px;
}

#bell-icon {
  width: 24px;
}

/* apps-window elements styles */

#apps-window {
  width: 330px;
  height: 516px;
  position: absolute;
  top: 67px;
  right: 82px;
  border: 1px solid rgb(200, 218, 235);
  background-color: white;
  font-size: 14px;
  line-height: 0px;
  padding: 0px;
  box-shadow: 0px 0px 5px 5px rgba(214, 214, 214, 0.5);
  display: none;
}

#apps-window:before,
#apps-window:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 250px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
}

#apps-window:after {
  z-index: -2;
  border-width: 0 12px 12px 12px;
  top: -11.5px;
  left: 248px;
  border-color: transparent transparent rgb(200, 218, 235) transparent;
}

#apps-cont {
  width: 100%;
  height: 100%;
}

#apps-block1,
#apps-block2 {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0px 15px;
  padding: 30px 0px;
}

.app-cont {
  height: 90px;
  width: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px;
  padding: 0px;
  border-radius: 5%;
  border: 2px solid white;
  padding-bottom: 10px;
}

.app-cont img {
  max-width: 58px;
  max-height: 58px;
  align-self: center;
}

#apps-window2 {
  position: relative;
  display: none;
  width: 100%;
  border-top: 1px solid rgb(200, 218, 235);
  background-color: white;
  padding: 0px;
}

#more {
  width: 330px;
  height: 30px;
  position: absolute;
  top: 486px;
  background-color: rgb(245, 245, 245);
  border: 0px;
  padding: 0px;
}

#more-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 0px;
  padding: 0px;
}

#even-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0px 15px;
  padding-bottom: 10px;
}

/* styles changes depends on user's actions */

.nav-el > a:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}
.nav-el > a:focus {
  background-color: rgb(173, 243, 255);
  outline: 0px;
}

label:hover {
  cursor: pointer;
}

#button-1:focus + a {
  background-color: rgb(173, 243, 255);
  outline: 0px;
}

#button-1:checked ~ #apps-window,
#button-1:checked ~ #more {
  display: block;
}

.app-cont:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.app-cont:focus {
  background-color: rgb(173, 243, 255);
  outline: 0px;
}

#more:hover {
  background-color: rgb(231, 231, 231);
}

#button-2:focus + #more,
#more:focus {
  background-color: rgb(173, 243, 255);
  outline: 0px;
}

#button-2:checked ~ #apps-cont > #apps-window2 {
  display: block;
}

#button-2:checked,
#button-2:checked ~ #more {
  display: none;
}

#button-2:checked ~ #apps-cont {
  overflow-y: scroll;
  overflow-x: hidden;
}
