@media screen and (max-width: 1500px) {
  .container {
    margin-top: -50px;
  }

  .list-item {
    font-size: 27px;
  }

  .active {
    font-size: 33px;
  }
}

@media screen and (max-width: 1050px) {
  .aside {
    margin-top: -100px;
  }

  .container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 780px) {
  .aside {
    margin-top: -170px;
  }

  .container {
    margin-top: 120px;
  }
  .content-text {
    max-width: 75%;
  }
}

@media screen and (max-width: 570px) {
  .title {
    font-size: 4.5em;
    padding-left: 20px;
  }
}

@media screen and (max-width: 415px) {
  .title {
    font-size: 4em;
  }
  .container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 340px) {
  .title {
    font-size: 4em;
  }

  .aside {
    justify-content: center;
	 text-align: center;
	 margin-top: -190px;
    margin-right: 30px;
  }

  .list-item {
    font-size: 25px;
  }

  .container {
    padding-left: 5px;/
  }
  .content-text {
    font-size: 15px;
    line-height: 1.3;
    max-width: 95%;
  }

  .active {
    font-size: 30px;
  }
}
