html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(173, 189, 196);
  background-color: #552586;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul,
li,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

.container {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
  background-color: #552586;
  height: 100%;
}

li {
  list-style-type: none;
}

.header {
  text-align: center;
  padding: 2em;
  margin-bottom: 5px;
}

.main {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.toggle-div {
  display: none;
}

.aside-container {
  width: 20%;
}

.aside-menu {
  border: 1px solid rgb(173, 189, 196);
}

.aside-button {
  text-align: center;
  min-height: 48px;
  min-width: 48px;
  width: 100%;
  padding: 0.25em 2em;
  background-color: rgb(173, 189, 196);
  border: 1px solid rgb(173, 189, 196);
  font-size: 1em;
}

.aside-button:hover {
  background-color: #552586;
  border-left: 3em solid rgb(173, 189, 196);
  cursor: pointer;
}

.aside-button:focus {
  border-left: 3em solid rgb(173, 189, 196);
  outline: 1px solid rgb(173, 189, 196);
  background-color: #552586;
}

.border-bottom {
  border-bottom: 1px solid #552586;
}

.main-section-container {
  width: 80%;
}

.section-heading {
  display: inline-block;
  border-bottom: 1px solid rgb(173, 189, 196);
  padding-bottom: 5px;

}

.section {
  padding: 0.5em 5em;
  background-color: #552586;
  border: 10px solid rgb(173, 189, 196);
  height: auto;
}

.section-block {
  display: block;
}

.section-none {
  display: none;
}

.section-heading {
  padding-left: 2em;
}

.section-image {
  float: left;
  padding-top: 1.5em;
}

.snippet-thumbnail {
  width: 150px;
  margin-left: 1.25em;
  margin-right: 3em;
  margin-bottom: 0.5em;

}

.section-para {
  padding: 2em 1em;
  font-size: 1.1em;
  line-height: 2;
}

.section-footer-nav {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
}

.section-footer-item {
  padding: 1em;
}

@media screen and (max-width: 1320px) {

  h1 {
    font-size: 3em;
  }

}

@media screen and (max-width: 1240px) {

  .aside-button {
    padding: 0;
  }

  .section {
    padding-left: 3em;
    padding-right: 2em;
  }

  .section-footer-nav {
    padding: 2em;
  }

}

@media screen and (max-width: 1050px) {

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  .section {
    padding-left: 2em;
    padding-right: 0.75em;
  }

}

@media screen and (max-width: 1000px) {

  h3 {
    font-size: 1.1em;
  }

  .snippet-thumbnail {
    width: 125px;
  }

  .aside-button:hover {
    border-left: 2em solid rgb(173, 189, 196);
  }

  .aside-button:focus {
    border-left: 2em solid rgb(173, 189, 196);
  }

  .section {
    padding-left: 1.5em;
    padding-right: 0.5em;
  }

  .section-para {
    padding: 1em 1em;
    font-size: 1em;
    line-height: 1.5;
  }

  .section-footer-nav {
    padding: 1em;
  }
  
}

@media screen and (max-width: 850px) {

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  .snippet-thumbnail {
    width: 100px;
  }

  .aside-button {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 770px) {

  .header {
    padding: 0;
    margin-bottom: 0;
  }

  .toggle-div {
    display: block;
    margin-left: 70%;
  }

  ul {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .active {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  .label-toggle {
    background: linear-gradient(to bottom, rgb(173, 189, 196) 0%, rgb(173, 189, 196) 20%,
        transparent 20%, transparent 40%, rgb(173, 189, 196) 40%, rgb(173, 189, 196)60%,
        transparent 60%, transparent 80%, rgb(173, 189, 196) 80%, rgb(173, 189, 196) 100%);
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 0 auto 2.5em;
    width: 40px;
  }

  .label-toggle:focus {
    outline: 1px solid rgb(173, 189, 196);
    background-color: #552586;
  }

  .aside-menu {
    margin-left: 60%;
  }

  h2 {
    font-size: 1.75em;
  }

  .snippet-thumbnail {
    width: 100px;
  }

  .aside-button {
    font-size: 0.9em;
  }

  .main {
    width: 100%;
    display: block;
    margin-top: 5px;
  }

  .aside-container {
    width: 100%;
  }

  .main-section-container {
    width: 100%;
  }

}

@media screen and (max-width: 650px) {

  .logo-wrapper {
    text-align: center;
    margin: auto 0;
  }

  .aside-menu {
    margin-left: 50%;
  }

}

@media screen and (max-width: 410px) {

  h1 {
    font-size: 2em;
  }

  .logo-wrapper {
    text-align: center;
    margin: auto 0;
  }

  .aside-menu {
    margin-left: 50%;
  }

  .section-heading-div {
    padding-left: 1em;
  }

  .section {
    padding-left: 0.5em;
    padding-right: 0;
  }

}
