/* font-family: 'Yusei Magic', sans-serif; */
body {
    background-color:#070711; 
    padding: 45px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.75em;
    color: #333232;
    font-weight: normal;
    font-style: normal;
}

    @media (max-width: 1100px) {
        body {
            padding: 0; 
        } 
    }

    @media (max-width: 520px) {
        body {
            font-size: 14px; 
        } 
    }

.container {
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

    @media (max-width: 760px) {
        .container {
            padding-right: 10px;
            padding-left: 10px; 
        } 
    }

.header {
    padding: 50px; 
    font-size: 48px; 
    font-family: 'Yusei Magic', sans-serif;
    color: white;
    text-shadow: 1px 1px #333232;
    border-bottom: 1px solid #fadb51;
    background: #fadb51; 
    border-radius: 30px 30px 0 0;
    text-align: center;
}

    @media (max-width: 520px) {
        .header {
            font-size: 30px; 
            padding: 30px 50px; 
        } 
    }


.main {
    display: flex; 
    background: white; 
    border-radius: 0 0 30px 30px;
}

    @media (max-width: 1100px) {
        .header, .main {
            border-radius: 0; 
        }
    }

    @media (max-width: 760px) {
        .main {
            flex-direction: column;
        }
    }

.sidebar {
    flex: 0 0 270px; 
    border-right: 1px solid  #fadb51;
}

    @media (max-width: 760px) {
        .sidebar {
            flex: 0;
            border-right: none; 
            border-bottom: 1px solid  #fadb51;
        }
    }

.form__input:not(.form__input_search) {
    display: none; 
}

.form {
    padding: 20px 0; 
}

    @media (max-width: 760px) {
        .form {
            display: flex;
            flex-direction: column;
        }
    }

.form__title {
    font-size: 18px;
    margin-bottom: 5px;
}

    @media (max-width: 760px) {
        .form__title {
            margin-right: auto;
            padding-right: 10px;
        }
    }

    @media (max-width: 520px) {
        .form__title {
            font-size: 16px; 
        } 
    }

.form__fieldset:not(:last-child) {
    margin-bottom: 15px;
}

    @media (max-width: 760px) {
        .form__fieldset {
            display: flex;
            justify-content: flex-end;
        }
    }

.form__input_search {
    padding: 5px; 
    border: 1px solid #fadb51;
}

    @media (max-width: 760px) {
        .form__input_search {
            flex: 1 1 auto; 
        }
    }

.fas {
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
}

.form__input:checked + .form__label .fas {
    color: #fadb51;
}

.form__button {
    margin-top: 10px; 
    padding: 5px 50px; 
    background-color: white; 
    border: 2px solid #fadb51;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: border .1s;
}

    @media (max-width: 760px) {
        .form__button {
            align-self: center;
        }
    }


.form__button:hover {
    border: 2px solid #333232; 
}

.form__button:focus {
    outline: none;
}

.cards {
    padding: 20px; 
    flex-grow: 1; 
}

.cards__items {
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px );
    gap: 30px; 
}

.card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 2px solid transparent;
    padding: 10px; 
    box-shadow: 2px 2px 10px 1px #cacaca; 
    cursor: pointer;
}

.card:hover {
    border: 2px solid #fadb51;
    box-shadow: 2px 2px 25px 1px #cacaca; 
}

.card__img {
    width: 100px; 
    height: 100px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card__title {
    margin-bottom: 10px;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.card__detail:not(:last-child) {
    margin-bottom: 10px;
}

.card__subtitle {
    font-weight: 700;
    margin-bottom: 10px;
}

.card__detail_link {
    font-size: 14px;
    color: #333232;
    text-decoration-color: #686767;;
}

.card__detail_link:hover {
    text-decoration-color: #fadb51;
}
