* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/background.jpg") no-repeat;
  background-size: auto;
  font-family: "Bonbon", cursive;
}

.header {
  margin: 0 auto;
}

.header__title {
  padding: 10px;
  color: #97e8f7;
  text-align: center;
  font-size: 3em;
}

.memory-board {
  height: 640px;
  width: 670px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #97e8f7;
  font-weight: bold;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 8em;
  }
}

.overlay-text-small {
  font-size: 0.3em;
}

.board-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  border: 2px solid #97e8f7;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.board-card:active {
  transform: scale(0.95);
  transition: scale 0.5s;
}

.board-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

@media (max-width: 850px) {
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 5em;
    }
  }
}

@media (max-width: 690px) {
  body {
    background: url("./assets/background.jpg") repeat;
  }
  .header__title {
    padding: 5px;
    font-size: 2em;
  }
  .memory-board {
    width: 330px;
  }
  .board-card {
    width: calc(50% - 10px);
    height: calc(33.333% - 10px);
  }
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
}

@media (max-width: 530px) {
  .header__title {
    font-size: 1.5em;
  }
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 3em;
    }
  }
}
