@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  background-color: cornflowerblue;
}

img {
  max-width: 100%;
}

.header {
  position: relative;
  max-width: 100%;
}

.header-h1 {
  font-size: 50px;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  text-transform: uppercase;
}

.cards {
  max-width: 740px;
  max-height: 650px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.flipper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  min-width: 170px;
  max-width: 170px;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;

  position: relative;
}

.flipper.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.opacity {
  visibility: hidden;
}
