/* General */
.warning-main-text, .greetings-main-text, .congratulations-main-text {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Bonobo Bold', sans-serif;
}

.warning-close-button, .greetings-close-button {
  padding: 10px 20px;
  font-family: 'Bonobo Bold';
  background: rgb(236, 229, 216);
  font-size: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px transparent solid;
  border-radius: 100px;
  margin: auto;
  transition: 0.3s ease;
  display: block;
  cursor: pointer;
}

.warning-close-button:focus, .greetings-close-button:focus {
  outline: none;
}

.warning-close-button:active, .greetings-close-button:active {
  background: white;
  transition: 0.3s ease;
}

.warning-close-button:hover, .greetings-close-button:hover {
  border: 2px solid white;
  transition: 0.3s ease;
}

.greetings-paimon, .congratulations-paimon, .congratulations-paimon {
  height: 500px;
  width: auto;
  position: absolute;
}

.warning-background, .greetings-background, .congratulations-background {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.greetings-background, .congratulations-background{
  position: relative;
  padding: 50px;
}

.greetings-main-text, .congratulations-main-text {
  margin-left: 100px;
}

.greetings-paimon {
  top: 50px;
  left: -200px;
}

.congratulations-paimon {
  top: -100px;
  left: -200px;
}

.prepared {
  opacity: 0;
  transition: ease 0.3s;
  transform: scale(0.8);
}

.game {
  transition: ease 0.3s;
}
