* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    overflow: hidden;
    font-family: "Titillium Web", sans-serif;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited, a:hover  {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}
main {
    background: 
    url(../img/bg5.gif) center no-repeat;
    background-size: 500px;
}


header {
    width: 100vw;
    height: 80px;
} 

.nav {
    max-width: 90vw;
    margin: auto;
    padding: 25px 0 0;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin: 0 30px 0 0;
    width: 42px;
    height: 40px;
}

.menu__item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.menu__link-user img {
    border-radius: 50%;
}

.menu {
    position: relative;
}

.menu__input {
    position: absolute;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0; */
}

.menu__label {
    position: relative;
    cursor: pointer;
}

.main-popup {
    margin: 25px 100px 0 -200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 460px;
    overflow-y: scroll;
    flex-wrap: wrap;
    background: #fbfbfb;
    border: 5px solid black;
    border-radius: 4px;
}
.main-popup::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-45%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #000000 transparent;
    display: none;
}

.main-popup::-webkit-scrollbar {
    width: 5px;
}

.main-popup::-webkit-scrollbar-track {
    background: #787a7ad8;
}

.main-popup::-webkit-scrollbar-thumb {
    background: #ec8179;
}

.main-popup::-webkit-scrollbar-thumb:hover {
    background: black;
}

.main-popup__link {
    width: 50px;
    margin: 8px;
    padding: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    border-radius: 4px;
}

.main-popup__link:hover {
    outline: 2px solid black;
    /* padding: 10px; */
} 

.main-popup__link:focus {
    background-color: #a19999b9;
}

.main-popup__link img {
    object-fit: contain;
    width: 70%;
    height: 70%;
}

.main-popup__link p {
    margin: 10px 0 0;
    color: black;
}

.main-popup__item-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   /*  width: 20px;
    height: 10px;
    cursor: pointer;
    opacity: 0;
    top: 70%; */
}

.main-popup__item-label {
    position: relative;
    cursor: pointer;
    flex: 0 0 90%;
    text-align: center;
    border: 5px solid black;
    border-radius: 4px;
    padding: 3px 0;
    margin: 40px 0;
}

.main-popup__item-label:hover {
    font-size: 0px;
    background-color: #eb665d;
}
.main-popup__item-label:hover::after {
    font-size: 16px;
    content: "less";
    background-color: #eb665d;
}

/* .main-popup__item-label:before {
    content: "More";
} */

.main-popup--invisible {
    visibility: hidden;
}

.main-popup__link--hidden {
    display: none;
}

input.menu__input:checked ~ div.main-popup--invisible {
    visibility: visible;
}

input:checked ~ .main-popup__link--hidden {
    display: flex;
}

input:focus ~ label {
    outline-offset: 1px;
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
}

/* .main-popup__item-input:checked ~ .main-popup__item-label::after {
    font-size: 0px;
}  */

.menu__item-input:checked ~ .menu__item-label::before {
    display: block;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: block;
}

.container img {
    margin: 30px;
} 
.search__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.container__input {
    min-width: 29rem;
    min-height: 3.1rem;
    border-radius: 2rem;
    background-color: #f7f6f6cf;
    border: 5px solid black;
    font-size: 1.5rem;
    color: #080707;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    text-align: center;
}
.container__btn {
    display: block;
    min-width: 4rem;
    min-height: 4rem;
    background-image: url(../img/menu/kat.png);;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
    padding: 0;
}
