* {
    margin: 0px;
    font-family: 'Abel', sans-serif;
}

body {
    height: 100%;
}

.nav-btn-toggle {
    height: 30px;
    width: 30px;
    position: fixed;
    top: 10px;
    left: 160px;
    z-index: 2;
    border: none;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
    background-image: url(./images/left-arrows.png);
}

.nav-btn-toggle--nav-closed {
    transform: translateX(-150px);
    transition: all 0.3s ease-in-out;
    background-image: url(./images/right-arrows.png);
}

.nav-btn-toggle--nav-opened {
    transform: translateX(-10px);
    transition: all 0.3s ease-in-out;
    background-image: url(./images/left-arrows.png);
    margin-left: 10px;
}

.nav {
    background-color: black;
    position: fixed;
    width: 200px;
    height: 100%;
    padding-top: 100px;
    z-index: 1;
}

.nav--opened {
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.nav--closed {
    width: 0;
    transition: all 0.3s ease-in-out;
}

.nav__ul--display-none {
    transform: translateX(-160px);
    transition: all 0.3s ease-in-out;
}

.nav__ul--display-yes {
    transform: translateX(-10px);
    transition: all 0.3s ease-in-out;
}

.nav__li {
    margin: 10px 0px;
}

.nav__link {
    text-decoration: none;
    color: lightgrey;
    font-size: 20px;
}

.nav__link--lightgrey {
    color: lightgrey;
}

.nav__link--orange {
    color: orange;
}

.nav__link:hover {
    cursor: pointer;
    color: orange;
}

.main {
    position: relative;
    margin-left: 200px;
    padding: 100px 100px 0px 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.main--wide {
    transition: all 0.3s ease-in;
    margin-left: 0px;
}

.main--short {
    transition: all 0.3s ease-in;
}

.main__img-container {
    height: 300px;
}

.main__img {
    display: inline-block;
    height: 100%;
}

.main__description-p {
    color: rgb(80, 80, 80);
    padding: 10px 0px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.main__ul-bikes {
    font-size: 20px;
    margin: 10px 0px;
}

.main__avg-price {
    font-size: 20px;
    margin: 10px 0px;
    color: rgb(80, 80, 80);
}

@media screen and (max-width: 800px) {
    
    .main {
        padding: 100px 60px 0px 60px;   
    }

    .main__header {
        font-size: 1.4em;
    }
    
    .main__img-container {
        height: 180px;
    }
}

@media screen and (max-width: 550px) {

    .main {
        padding: 100px 20px 0px 20px;   
    }
}

@media screen and (max-width: 460px) {
   
    .nav {
        background-color: black;
        position: static;
        width: 100%;
        padding-top: 0px;
        z-index: 1;
    }
    
    .nav-btn-toggle{
        display: none;
    }

    .nav__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 3px;
    }

    .nav__li {
        display: flex;
        padding: 0px 5px;
    }

    .main {
        position: relative;
        margin-left: 0px;
        padding: 20px 20px 0px 20px;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-height: 400px) {
    
    .nav {
        padding-top: 20px;
    }

    .main {
        padding-top: 20px;
    }
}
