*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
}

.background {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;

  background-image: url(./img/background-cat-small.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.flex-horizontal-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* Menu */

.navbar {
  width: 100%;
  margin: auto;
  background: rgb(255, 255, 255, 0.8);
  background: linear-gradient(
    -690deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255, 0.8) 80%
  );
  min-height: 60px;
  position: relative;
}

/* For positioning sub menus */
.navbar .navbar__item {
  position: relative;
  list-style: none;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar__link,
.sub-navbar__link,
.extramenu__extralink {
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.25s ease-in-out;
}

.sub-navbar__item {
  list-style-type: none;
}

.navbar__list .navbar__item:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.navbar__item {
  display: flex;
  padding: 1em;
}

.navbar__item--popup {
  order: -1;
}

.navbar__item--my-cat {
  order: -2;
}

.menu-toggler {
  display: flex;
  align-items: center;
  color: #747474;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.25s ease-in-out;
  background-color: #72b0eba1;
}

.menu-toggler:hover,
.menu-toggler:focus,
.navbar__item:hover > a,
a:hover,
a:focus,
input[type='checkbox']:focus ~ label,
.submenu__input:focus ~ .submenu__item-label,
.submenu__item-label:hover {
  outline: none;
  background-color: rgba(93, 94, 95, 0.164);
  box-shadow: 0px 5px 10px #6098f3;
  color: black;
  width: 100%;
}

.navbar__link {
  display: flex;
  align-items: center;
  color: black;
  background-color: #72b0eba1;
  cursor: pointer;
}

.popup-button {
  padding: 5px 10px;
  color: black;
}

.popup-button-img {
  padding: 2px 5px;
}

.sub-navbar__list {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  top: 58px;
  padding: 0;
  text-align: center;
  z-index: 10;
}

.sub-navbar__item {
  left: 2px;
  background-color: rgb(125, 163, 200);
  border: 1px solid rgba(93, 94, 95, 0.164);
}

.sub-navbar__link {
  color: #000;
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
}

.my-cat-checkbox,
.my-checkbox {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.my-cat-checkbox:checked ~ .sub-navbar__list--1 {
  display: block;
}

.my-checkbox:checked ~ .sub-navbar__list--2-popup-button {
  display: block;
}

/* Popup */

.submenu__item-hidden {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.menu__item-input:checked ~ .menu__submenu {
  display: flex;
}

.menu__item-input:checked ~ .submenu__item-label {
  display: flex;
}

.menu__item-input:checked + .menu__item-label::before {
  opacity: 1;
}

.menu__item-label::before {
  opacity: 0;
  content: '';
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 130px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(-45deg);
}

.menu__link-text {
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  border: 1px solid transparent;
}

.menu__link-text:hover {
  text-decoration: underline;
  opacity: 0.75;
}

.submenu__link:hover .menu__link-text {
  text-decoration: underline;
  opacity: 0.75;
}

.menu__link-user:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.menu__submenu {
  display: none;
  z-index: 1;
  max-height: 1598px;
  position: absolute;
  top: 85px;
  border: 1px solid #ccc;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  padding: 0.5rem 0.5rem 1.6rem 0.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffffa3;
}

.submenu__item,
.extramenu__item {
  width: 100px;
  display: flex;
  margin-bottom: 1rem;
}

.submenu__link {
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 5px;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
}

.submenu__link:hover {
  border: 1px solid #ccc;
}

.menu__submenu [type='checkbox'] {
  appearance: none;
}

.menu__submenu::-webkit-scrollbar {
  width: 0.15rem;
}

.menu__submenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu__submenu::-webkit-scrollbar-thumb {
  background-color: rgb(182, 180, 180);
  border: 1px solid rgb(58, 64, 70);
}

.submenu__item-label {
  display: block;
  width: 100%;
  background: #f1f1f1;
  cursor: pointer;
  padding: 0.4rem 0;
  text-align: center;
}

.submenu__extramenu {
  display: none;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 2.6rem;
  z-index: 1;
  justify-content: space-between;
  padding-left: 0px;
}

.submenu__item-input {
  display: block;
}

.submenu__item-input:checked ~ .submenu__extramenu {
  display: flex;
}

.submenu__item-input:checked ~ .submenu__item-label {
  display: none;
}

.submenu__item-input:checked .menu__submenu {
  overflow: auto;
}

.submenu__extramenu::before {
  z-index: 1;
  content: '';
  width: 100%;
  position: absolute;
  top: 15px;
  border-bottom: 1px solid #ccc;
}

.extramenu__link {
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 5px;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
}

.extramenu__link:hover {
  border: 1px solid #ccc;
}

.img-submenu {
  width: 75%;
  padding: 5px;
}

.extramenu__item-link {
  text-align: center;
  width: 100%;
  padding-top: 1rem;
}

.extramenu__extralink {
  display: block;
  position: relative;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.5rem;
  background: #fbfbfb6b;
}

.extramenu__extralink:hover {
  text-decoration: underline;
  opacity: 0.75;
}

/* Media queries */

@media screen and (min-width: 300px) and (max-width: 479px) {
  .menu__submenu {
    top: 150px;
  }
}

@media screen and (min-width: 767px) {
  .background {
    background-image: url(./img/background-cat-big.jpg);
  }

  .navbar__item--popup {
    order: 0;
  }

  .navbar__item--my-cat {
    order: 0;
  }

  .navbar__list {
    padding-right: 10%;
  }

  .navbar__link {
    color: #747474;
    background-color: transparent;
  }

  .sub-navbar__item {
    background-color: rgba(113, 152, 190, 0.253);
  }

  .popup-button {
    color: #747474;
  }

  .menu-toggler {
    background-color: transparent;
  }

  .menu__submenu {
    width: 320px;
    left: -127px;
    justify-content: space-between;
    max-height: 588px;
  }
}
