*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --grey: #263238;
  --yellow: rgb(247, 202, 75);
  --blue: rgb(64, 98, 163);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 20px;

  background-color: var(--grey);
}

.game {
  display: grid;
  grid-template-areas: 
    'i1 i2 i3'
    'i4 empty i5'
    'i6 i7 i8';
  gap: 30px;
  width: 100%;
  max-width: 900px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.game::after {
  grid-area: empty;

  content: '';
}

.card {
  position: relative;
  perspective: 1000px;
}

.card::after {
  content: '';
  padding-top: 100%;
  display: block;
}

.card__btn,
.card__front,
.card__back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__btn {
  transition: transform 0.3s;
  transform-style: preserve-3d;

  background: transparent;
  border: 5px solid var(--yellow);
  border-radius: 100%;

  cursor: pointer;
}

.card__btn:focus {
  outline: none;

  box-shadow: 0 0 0 5px var(--blue);
}

.card__btn.active {
  transform: rotateY(180deg);
  pointer-events: none;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__front {
  background: url(./assets/pokeball.png) center / 80% no-repeat;
}

.card__back {
  transform: rotateY(180deg);

  background: transparent var(--image) center / 80% no-repeat;
}
