* {
    padding: 0;
    margin: 0;
    font-size: 22px;
    box-sizing: border-box;
    font-family: Comfortaa;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
}

.side{
    min-width: 300px;
    background-color: rgb(37, 49, 116);
    height: auto;
}

.side.open {
    transform: translate(0, 0);
}

.main {
    max-height: 1200px;
}

.side-hero {
    height: 50px;
    width: 280;
    margin: 20px 10px; 
    padding: 10px;
    background-color: rgb(201, 187, 221);
}

.side-hero:hover {
    background-color: rgb(225, 242, 250);  
    cursor: pointer;  
}

.side-button-wrapper {
    width: 100%;
    height: 60px;
    background-image: url(img/bang.jpg);
    background-position-y: center;
    display: none;
}

.side-button {
    margin: 10px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(225, 242, 250);
    height: 100%;
}

.name {
    width: 100%;
    font-size: 2em;
    font-weight: 700;
    margin: 20px;
}

.image {
    width: 100%;
}

.about-hero, .known-for {
    width: auto;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .side-button-wrapper {
        display: block;
    }

    .side.open {
        transform: translate(0, 0);
    }

    .side{
        position: fixed;
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
        height: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px){
    .image {
        margin: 10px;
        width: 300px;
    }
}

@media screen and (min-width: 901px) {
    .image, .known-for {
        width: 48%;
    }

    .name {
        font-size: 2.5em;
    }
}
