* {
    box-sizing: border-box;
}
.full_screen_height {
    min-height: 100%;
}
.page {
    margin: 0;
    display: grid;
    grid-template:  'head head'
                    'nav main';
    grid-template-columns: 1fr 3fr;
    background: linear-gradient(to bottom, gainsboro, navajowhite);
}
.header {
    grid-area: head;
}
.nav {
    grid-area: nav;
}
.main {
    grid-area: main;
}
.menu_list {
    list-style-type: none;
    padding: 0;
    margin: 2%;
}
.menu_item {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem;
    background: lightsteelblue;
    border-bottom: solid;
    border-image: linear-gradient(to right, transparent, lightslategrey, transparent) 50% 0%;
    text-decoration: none;
    color: black;
}
.menu_item_selected {
    background: linear-gradient(to right, lightsteelblue 70%, transparent);
}
.menu_item:hover,
.menu_item:focus {
    background: linear-gradient(to right, lightsteelblue 70%, transparent);
    cursor: pointer;
}
.menu_item_first {
    border-radius: 10px 20px 0 0;
}
.menu_item_last {
    border-radius: 0 0 10px 20px;
    border-bottom: none;
}
.disclaimer {
    background: sandybrown;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
    color: darkslategrey;
}
.title {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: peru;
}
.menu_button {
    display: none;
    margin: 0.2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    background: lightsteelblue;
    border: solid transparent;
    text-align: center;
}
.menu_button > * {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}
.menu_button:hover {
    cursor: pointer;
}
.civilopedia_path {
    border-style: solid;
    border-image: linear-gradient(to right, peru, transparent) 50% 0%;
    margin: 0.2rem;
    padding: 0.5rem;
    text-transform: uppercase;
}
.text_heading_1 {
    text-align: center;
    text-transform: capitalize;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, steelblue, transparent) 50% 0%;
}
.text_heading_2 {
    text-align: center;
    text-transform: capitalize;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, steelblue, transparent) 50% 0%;
}
.text {
    padding: 1% 5%;
    max-width: 700px;
    text-indent: 5%;
    font-size: 1.1rem;
}
.article {
    display: grid;
    justify-content: center;
}
.portrait {
    margin: auto;
    height: 208px;
    width: 206px;
}
.hidden {
    display: none;
}
@media screen and (max-width: 450px) {
    .disclaimer {
        display: none;
    }
    .page {
        grid-template: 'head'
                       'nav'
                       'main';
    }
    .main {
        display: grid;
        grid-template: 'menu path'
                       'art art';
        grid-template-columns: 1fr 3fr;
    }
    .menu_button {
        display: block;
        grid-area: menu;
        border-radius: 5%;
    }
    .article {
        grid-area: art;
    }
    .civilopedia_path {
        grid-area: path;
    }
    .hidden_small_screen {
        display: none;
    }
    .menu_item_selected {
        background: lightsteelblue;
    }
}
@media screen and (min-width: 1100px) {
    .article {
        grid-template: 'title title'
                       'por des_h'
                       'por des'
                       'por con_h'
                       'por con';
    }
    .text_heading_1 {
        grid-area: title;
    }
    .portrait {
        grid-area: por;
    }
    .description_heading {
        grid-area: des_h;
    }
    .description {
        grid-area: des;
    }
    .context_heading {
        grid-area: con_h;
    }
    .context {
        grid-area: con;
    }
}
