/*Roboto Font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}
