@media screen and (max-width: 450px) {
  .sidebar {
    left: -100%;
    width: 100%;
    height: 100%;
  }
  .main-content {
    margin-left: 5px;
    padding: 0;
  }
  .main-heder {
    margin-top: 50px;
  }
  .menu-chevron {
    display: block;
    left: 100%;
  }
  .movie-card {
    width: 100%;
    margin: 10px -10px;
  }
}
