$theme-color: #757575;

%focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  color: #222;
}

a {
  color: $theme-color;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    color: $theme-color;
    text-decoration: underline;
  }

  &:focus {
    @extend %focus;
  }
}

img {
  border-style: none;
}


details {

  summary {
    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      @extend %focus;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}