.header {
  display: flex;
  justify-content: space-between;
  min-width: 320px;

  &__nav {
    margin-left: auto;
    padding: 10px;

    @media (min-width: 576px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}