.more {
  $block-name: &;

  &[open] {
    border-top: 1px solid lighten($theme-color, 40%);

    #{$block-name}__btn {
      display: none;
    }
  }

  &__btn {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background: lighten($theme-color, 50%);
    transition: all 150ms ease-in;

    &:hover {
      background: lighten($theme-color, 40%);
    }
  }

  &__apps-link {
    text-align: center;
  }
}