.popup {
  width: 300px;
  box-shadow: 0 10px 18px -4px rgba(0, 0, 0, 0.36);
  border: 1px solid lighten($theme-color, 50%);

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    right: 107px;
    width: 20px;
    height: 20px;
    border: 1px solid lighten($theme-color, 50%);
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    background: #fff;
  }

  &__container {
    position: relative;
    max-height: 450px;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: lighten($theme-color, 50%);
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: lighten($theme-color, 50%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: lighten($theme-color, 10%);
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
    }
  }
}

