* {
  margin: 0;
  padding: 0;
  outline:none;
}
html {
  height: 100%;
}
body {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr;
  font-family: sans-serif;
  font-size: 16px;
  color: #666666;
}

/* --Navigation-- */

.nav {
  padding: 10px;
}
.nav__menu {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(5, max-content);
  justify-content: end;
}
.menu__item {
  display: block;
  line-height: 1.5em;
}
.menu__icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
}
.menu__link {  
  text-decoration: none;
  color: #666666;
}
.menu__link:hover, .menu__link:focus{
  color: #0033cc;
  text-decoration: underline;
}
.menu__link:focus > .icon--bell {
  background-image: url(../image/bell-hover.png);
}
.menu__link:focus > .icon--user {
  background-image: url(../image/user-hover.png);
}

/* --Pop-Up-- */

.pop_up {
  display: none;
  position: absolute;
  top: 3.0em;
  right: 2em;
  width: 350px;
  height: 450px;
  border: 2px solid #666666;
  background: #fff;
}
.pop_up:before {
  content: '';
  display: block;
  position: absolute;
  top: -0.7em;
  right: 5.5em;
  width: 1em;
  height: 1em;
  border: 2px solid #666666;  
  border-right:none;
  border-bottom: none;
  background: #fff;
  transform: rotate(45deg);
}
.pop_up__list {
  display: grid;
  width: 100%;
  height: 100%;
  row-gap: 35px;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;  
  padding: 40px;
  overflow-y: auto;
  box-sizing: border-box;
}
.pop_up__list::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(102,102,102,0.1);

}
.pop_up__list::-webkit-scrollbar-thumb {
  background-color: rgba(102,102,102,0.5);
}
.pop_up__item {
  display: block;
}
.pop_up__item--all_width {
  grid-column: 1 / -1;
}
.app_link {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  text-decoration: none;
  color: #666666;
  padding: 3px;
}
.app_link:hover, 
.app_link:focus {
  box-shadow: 0 0 10px rgba(102,102,102,0.5);
}
.app_link:hover .app_name,
.app_link:focus .app_name {
  color: #0033cc;
  text-decoration: underline;
}
.app_icon {
  display: block;
  width: 50px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  justify-self: center;
}
.app_name {
  display: block;
  text-align: center;
}

/* --icon-- */

.icon--list {
  background-image: url(../image/popup-button.png);
}
.icon--list:hover {
  background-image: url(../image/popup-button-hover.png);
}
.icon--bell {
  background-image: url(../image/bell.png);
}
.icon--bell:hover {
  background-image: url(../image/bell-hover.png);
}

.icon--user {
  background-image: url(../image/user.png);
}
.icon--user:hover {
  background-image: url(../image/user-hover.png);
}
.icon--apps {
  background-image: url(../image/apps.png);
}
.icon--blogs {
  background-image: url(../image/blogs.png);
}
.icon--calendar {
  background-image: url(../image/calendar.png);
}
.icon--chat {
  background-image: url(../image/chat.png);
}
.icon--classroom {
  background-image: url(../image/classroom.png);
}
.icon--collection {
  background-image: url(../image/collection.png);
}
.icon--contacts {
  background-image: url(../image/contacts.png);
}
.icon--documents {
  background-image: url(../image/documents.png);
}
.icon--files {
  background-image: url(../image/files.png);
}
.icon--mail {
  background-image: url(../image/mail.png);
}
.icon--maps {
  background-image: url(../image/maps.png);
}
.icon--mars {
  background-image: url(../image/mars.png);
}
.icon--mic {
  background-image: url(../image/mic.png);
}
.icon--news {
  background-image: url(../image/news.png);
}
.icon--photos {
  background-image: url(../image/photos.png);
}
.icon--promo {
  background-image: url(../image/promo.png);
}
.icon--search {
  background-image: url(../image/search.png);
}
.icon--translation {
  background-image: url(../image/tanslation.png);
}
.icon--videos {
  background-image: url(../image/videos.png);
}

/*--toggle-- */

.toggle__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.toggle__input:checked ~ .pop_up {
  display: block; 
}
.toggle__input:focus + .toggle__label > .icon--list {
  background-image: url(../image/popup-button-hover.png);
}
.toggle__label {
  cursor: pointer;
}

/* --More-- */

.button_more__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.button_more__input ~ .pop_up__item {
  display: none;
}
.button_more__input:checked ~ .pop_up__item {
  display: block;
}
.button_more__input:checked + .button_more__label {
  display: none;
}
.button_more__input:checked {
  display: none;
}
.button_more__label {
  position: absolute;
  bottom: 0;
  left:0;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(102, 102, 102, 0.2);
}
.button_more__input:hover + .button_more__label, 
.button_more__input:focus + .button_more__label{
  color: #0033cc;
  text-decoration: underline;
} 
