/* Reset
------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    user-select: none;
}

img {
    width: 100%;
}

/* Game decoration
------------------------------ */
.wrapper {
    background: url(../img/bg.jpg) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    width: 768px;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 60px;
    color: #ff0000;
    text-shadow: 1px 2px 5px #000000;
}

.play-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
}

/* Card styles
------------------------------ */
.card {
    margin-top: 10px;
    perspective: 1000px;
}

.hide {
    visibility: hidden;
}

.card.open .flipper { 
	transform: rotateY(180deg);
}

.card, .front, .back {
    width: 115px;
    height: 155px;
    border-radius: 8px;
}

.flipper {
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
	backface-visibility: hidden;
    position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
    transform: rotateY(180deg);
}

.back {
    background: url(../img/card-back.jpg) center center / cover no-repeat;
    transform: rotateY(0deg);
}

.image {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 8px;
}

/* End game container styles
------------------------------ */
.end-game {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.end-game__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 420px;
    width: 100%;

    padding: 0 15px;
}

.end-game__text p {
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 60px;
    color: #ff0000;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
}

.end-game__btn {
    background-color: #ff0000;
    margin: 40px 0;
    padding: 10px 20px;

    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: none;

    cursor: pointer;
    outline: none;

    font-family: 'Redressed', cursive;
    font-size: 30px;
    color:rgba(0, 0, 0);
    transition: color .15s linear, box-shadow .15s linear;
}

.end-game__btn:hover {
    box-shadow: 0 0 15px 0 #fff;
    color: rgba(255, 255, 255);
}

.end-game__img {
    max-width: 320px;
    width: 100%;
}

.off {
    display: none;
}

/* Media styles
------------------------------ */
@media (max-width: 768px) {

    .inner {
        width: 530px;
    }
}

@media (max-width: 525px) {

    .inner {
        width: 290px;
    }

    .title {
        margin-bottom: 5px;
        font-size: 32px;
    }

    .card, .front, .back {
        width: 80px;
        height: 107px;
    }

    .end-game__text p {
        font-size: 40px;
    }
}

@media (min-width: 500px) and (max-height: 600px){

    .inner {
        width: 530px;
    }

    .title {
        margin-bottom: 5px;
        font-size: 32px;
    }

    .card, .front, .back {
        width: 80px;
        height: 107px;
    }

    .end-game__img {
        display: none;
    }
}
