* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background: grey;
}

.content {
  margin-left: 200px;
  padding-top: 50px;
  height: 100%;
}

body {
  background: rgb(255, 144, 144);
}

.form-sort-list {
  margin: 20px 0;
}

.form-sort-list li {
  margin: 10px 0;
}

.radio-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-label {
  cursor: pointer;
}

.label-text {
  position: relative;
  z-index: 10;
  transition: color 0.3s ease;
}

.label-text:before {
  display: block;
  content: "";
  width: 0%;
  top: -5px;
  left: -5px;
  border-radius: 10px;
  height: 100%;
  padding: 5px;
  position: absolute;
  background: rgb(255, 144, 144);
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
}

.radio-input:checked + .label-text:before {
  width: 100%;
  opacity: 1;
  transition: 0.3s ease;
}

.radio-input:checked + .label-text {
  color: white;
  transition: color 0.3s ease;
}

#addUsers {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
}

#addUsers:hover {
  transition: 0.3s ease;
  background: rgb(255, 144, 144);
  color: white;
}

.text-input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.mobile-menu {
  background: white;
  display: block;
  height: 3px;
  width: 25px;
  position: fixed;
  top: 20px;
  right: 15px;
  cursor: pointer;
  z-index: 3;
  display: none;
}

.mobile-menu:after,
.mobile-menu:before {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background: white;
  position: relative;
  cursor: pointer;
}

.mobile-menu:after {
  top: 3px;
}

.mobile-menu:before {
  top: -6px;
}

@media (max-width: 500px) {
  .content {
    margin: 0;
    z-index: 1;
  }
  .sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: 2;
    transition: 0.3s ease;
  }

  .sidebar.opened {
    transition: 0.3s ease;
    left: 0;
  }

  .mobile-menu {
    display: block;
  }
}
