:root {
  --bg-grey: #333333ad;
  --lightorange: #ffd047;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
body {
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: black;
  background: linear-gradient(var(--lightorange), white);
}
.topnav {
  overflow: hidden;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topnav a,
.topnav label {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
a:hover,
.topnav label:hover,
a:focus,
.topnav input:focus + label {
  background-color: var(--lightorange);
  color: black;
  outline: none;
}
#menu-toggle {
  position: fixed;
  opacity: 0;
}
.bg-image {
  height: 90%;
  background-image: url('img/kottans-font.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(8px);
}
.popup-container {
  position: fixed;
  text-align: center;
  top: 8%;
  right: 4%;
  background-color: var(--bg-grey);
  z-index: 10;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 10px;
  grid-row-gap: 10px;
}
.popup-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-container span {
  font-size: 14px;
  padding-top: 8px;
}
#menu-toggle:checked ~ .popup-container {
  visibility: visible;
  animation-name: show-popup;
  animation-duration: 2s;
}
@keyframes show-popup {
  0% {
    top: 20%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 8%;
  }
}
