* {
  margin: 0;
  padding: 0;
  color: black;
}

header {
  overflow: hidden;
  background-color: yellow;
  padding: 20px 10px;
  text-align: center;
}

body {
  font-family: "Orbitron", sans-serif;
  background: url("./img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.nav {
  position: fixed;
  width: 25%;
  height: 100%;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
}

.nav__item {
  padding: 10px 10px;
  width: 90%;
  border-style: none;
  cursor: pointer;
  height: 40px;
  font-size: 32px;
}

.nav__item:hover {
  background-color: yellow;
}

.main {
  margin-left: 25%;
}

.main__item {
  padding-top: 20px;
  font-size: 24px;
  background-color: yellow;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 24px;
  background-color: yellow;
  opacity: 0.6;
  overflow: hidden;
}

.hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .main {
    margin-left: 0%;
  }

  .main__item {
    display: block;
    max-width: 1000px;
    width: 100%;
  }

  .nav {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .hidden {
    display: none;
  }
}