*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {  
  min-height: 100vh;

  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 18px;
  color: grey;
}

.header {
  padding: 10px 20px;
}

.header__item {
  margin: 0 5px;
}

.nav {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notifications {
  width: 40px;
  height: 40px;

  font-size: 0;

  background: url(./popup-icons/bell.png) center / 20px no-repeat;
}

.user {
  width: 40px;
  height: 40px;

  font-size: 0;

  border-radius: 100%;
  background: url(https://avatars2.githubusercontent.com/u/18123557?s=60&v=4) center / cover no-repeat;
}

.menu-btn {
  width: 40px;
  height: 40px;
  
  border-radius: 100%;
  background: url(./popup-icons/popup-button.png) center / auto no-repeat;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.menu-btn:checked {
  background-color: lightgray;
}

.menu-btn:checked + .menu {
  display: flex;
}

.menu {
  position: absolute;
  right: 50px;
  top: 50px;

  display: none;

  width: 300px;
  height: 460px;

  background-color: #fff;
  
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.menu::before {
  content: '';

  position: absolute;
  right: 70px;
  top: -5px;

  width: 10px;
  height: 10px;

  background-color: inherit;
  
  transform: rotate(-45deg);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
    right: 0;
  }

  .menu::before {
    right: 120px;
  }
}

.menu-scroll {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0;

  padding: 30px 10px;
}

.addition-list {
  display: none;
  padding-bottom: 0;

  border-top: 1px solid lightgray;
}

.menu-footer {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-bottom: 10px;
}

.menu-more-checkbox {
  position: absolute;

  width: 0;
  height: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu-more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;

  color: #fff;
  transition: .2s background-color;
  background-color: grey;

  cursor: pointer;
}

.menu-more:hover {
  background-color: lightblue;
}

.menu-more-checkbox:focus + .menu-more {
  background-color: lightblue;
}

.menu-more-checkbox:checked {
  display: none;
}

.menu-more-checkbox:checked + .menu-more {
  display: none;
} 

.menu-more-checkbox:checked ~ .menu-list {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10px;
  height: 70px;

  font-size: 12px;
}

.card:hover {
  background-color: lightgray;

  transition: .2s background-color;
}

.card-img {
  max-width: 100%;
  max-height: calc(100% - 30px);
  margin: auto 0;
}
