* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: #000;
}

.nav {
    margin: 1rem;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__menu [type="checkbox"] {
    display: none;
}

.menu__item,
.menu__item-button {
    padding-right: 1rem;
}

.menu__item:nth-child(1),
.menu__item:nth-child(2) {
    padding-right: .5rem;
}

.menu__item-input {
    position: absolute;
}

.menu__item-input:checked ~ .menu__submenu,
.menu__item-input:checked ~ .submenu__item-label {
    display: flex;
}

.menu__item-input:checked + .menu__item-label::before {
    opacity: 1;
}

.menu__item-label {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    background-image: url("../img/menu/popup-button.png");
    background-size: cover;
}

.menu__item-label::before {
    opacity: 0;
    content: "";
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 130px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(-45deg);
}

.menu__link-text,
.menu__item-label,
.menu__link-bell,
.menu__link-user {
    border: 1px solid transparent;
}   

.menu__link-text:focus,
.menu__item-label:focus,
.menu__link-bell:focus,
.menu__link-user:focus {
    border: 1px solid #00f;
}   

.menu__link-text {
    padding: .5rem;
}

.menu__link-text:hover {
    text-decoration: underline;
    opacity: .75;
}

.menu__link-bell {
    background-image: url("../img/menu/bell.png");
    background-size: cover;
    display: block;
    width: 22px;
    height: 22px;
}

.menu__link-bell:hover {
    opacity: .75;
}

.menu__link-user {
    background-image: url("../img/menu/user.png");
    background-size: cover;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.menu__link-user:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.menu__submenu {
    z-index: 5;
    width: 320px;
    max-height: 500px;
    position: absolute;
    display: none;
    top: 65px;
    right: 70px;
    border: 1px solid #ccc;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
    padding: .5rem .5rem 1.6rem .5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

.submenu__item {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.submenu__link {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    border: 1px solid transparent;
}

.submenu__link img {
    width: 75%;
}

.submenu__link:hover {
    border: 1px solid #ccc;
}

.submenu__link:focus {
    border: 1px solid #00f; 
}

.menu__submenu [type="checkbox"] {
    display: none;
}

.menu__submenu::-webkit-scrollbar {
    width: .15rem;
}

.menu__submenu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu__submenu::-webkit-scrollbar-thumb {
    background-color: rgb(182, 180, 180);
    border: 1px solid rgb(58, 64, 70);
}

.submenu__item-label {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f1f1f1;
    cursor: pointer;
    padding: .4rem 0;
    text-align: center;
}

.submenu__extramenu {
    display: none;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 3rem;
}

.submenu__item-input:checked ~ .submenu__extramenu {
    display: flex;
}

.submenu__item-input:checked ~ .submenu__item-label {
    display: none;
} 

.submenu__item-input:checked .menu__submenu {
    overflow: auto;
}

.submenu__extramenu::before{
    z-index: 9;
    content: '';
    width: 100%;
    position: absolute;
    top: 490px;
    left: 0;
    border-bottom: 1px solid #ccc;
}

.extramenu__item {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.extramenu__link {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    border: 1px solid transparent;
}

.extramenu__link:hover {
    border: 1px solid #ccc;
}
  
.extramenu__link:focus {
    border: 1px solid #00f;
}

.extramenu__link img {
    width: 75%;
}

.extramenu__extralink {
    width: 100%;
    padding-top: 1.5rem;
    display: block;
    text-align: center;
}

.extramenu__extralink:hover {
    text-decoration: underline;
    opacity: .75;
}
