* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #405E00;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.header_title {
    margin: 10px 0;
}

.menu-wrapper {
    background-color: #c8ebb1;
    width: 100%;
    position: sticky;
    z-index: 200;
    top: 0;
    box-shadow: 0 0 10px rgba(36, 36, 36, 0.5);
}

.menu {
    padding: 0px 10px;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu_item-name,
.menu_item-age,
.menu_item-gender {
    width: 15%;

}

.menu_item-city,
.menu_item-email {
    width: 25%;
}

.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    transition: 0.3s;
    color: #405E00;
}

.menu_item:hover {
    color: #fff;
    background-color: #9BCC94;
}

.menu_item-name .menu_item_btns,
.menu_item-age .menu_item_btns {
    display: inline-block;
    margin-top: 10px;
}

.menu_item-age .menu_item_btns {
    margin-left: 10px;
}

.check-gender {
    margin: 15px 0px 5px;
}

.check-gender input {
    visibility: hidden;
    position: absolute;
}

.check-label {
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 18px;
}

.menu_item:hover .check-label {
    color: white;
}

.check-label:hover {
    border: 2px solid #689864;
    margin: -2px;
}

.radio-input:checked+.check-label {
    border-radius: 5px;
    background-color: #689864;
    color: white;
}

.menu_item_text-input {
    background-color: #fff;
    border: none;
    padding: 3px;
    color: #405E00;
    border-radius: 5px;
    margin-left: 7px;
    margin-top: 12px;
    width: 150px;
    outline-style: none;
}

.btn {
    outline-style: none;
    border: none;
    color: white;
    background-color: #689864;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid #405E00;
    margin-right: 10px;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    color: #405E00;
    background-color: #9BCC94;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #9BCC94;
    min-width: 270px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    font-size: 16px;
}

.card:hover {
    transform: scale(1.03);
}

.email {
    border-top: 1px solid #405E00;
    padding: 10px;
}

.city {
    text-transform: capitalize;
}

.age {
    margin: 5px auto;
}

.user-img {
    border-radius: 50%;
    object-position: center;
}

@media screen and (max-width: 700px) {
    .menu {
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: space-around;
    }

    .menu_item {
        width: 30%;
    }

    .result {
        justify-content: space-around;
    }
}

@media screen and (max-width: 520px) {
    .menu {
        max-width: 450px;
    }

    .menu_item {
        width: 33%;
    }

    .menu_item.menu_item-city,
    .menu_item.menu_item-email {
        width: 40%;
    }
}
