body {
  background: #192240;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field {
  max-width: 550px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}

.image-container {
  background: orange;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  cursor: default;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.front-img {
  width: 80px;
  height: 80px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: orangered;
  margin: 12px 0 32px;
}

.card {
  perspective: 1000px;
  cursor: pointer;
}

.card.flipped .flipper,
.card.flipped .flipper {
  transform: rotateY(180deg);
}

.card,
.front,
.back {
  width: 100%;
  height: 100%;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  pointer-events: none;
}

.front,
.back {
  backface-visibility: hidden;
  border-radius: 5px;
  border: 2px solid black;
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
  position: relative;
}
