* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    background-color: #f3f3f3;
    width: 100vw;
    height: 66px;
    box-shadow: 0 1px 5px #ccc;
    padding: 8px 40px;
}

.navbar {
    float: right;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav__elem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    transition: all .3s;
}

.nav__btn:hover,
.nav__btn:focus {
    background-color: #ffb694;
}

.nav__link {
    font-size: 20px;
    display: block;
    font-weight: 600;
    padding: 5px;
    color: #757575;
    transition: all .3s;
}

.nav__link:hover,
.nav__link:focus {
    color: #722e00;
}

.popup__img,
.bell__img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.user__img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.popup__input {
    appearance: none;
}

.popup__menu {
    display: none;
    border-radius: 2px;
    padding: 10px;
    background-color: #f3f3f3;
    position: absolute;
    top: 80px;
    right: 60px;
    width: 360px;
    height: 500px;
    box-shadow: 0 1px 8px #bbb;
    overflow: auto;
}

.menu__item {
    padding: 8px 0;
    margin-left: 13px;
    display: inline-block;
    font-size: 14px;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 3px;
}

.menu__item:hover,
.menu__item:focus {
    background-color: #ffb694;
}

.menu__item-img {
    max-height: 32px;
}

.menu__item-descr {
    font-weight: 500;
    margin-top: 10px;
    color: #757575;
}

.menu__extra-btn {
    display: block;
    margin-left: 118px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #727272;
    text-align: center;
    padding-top: 5px;
}

.menu__extra-btn:hover,
.menu__extra-btn:focus {
    background-color: #ffb694;
    cursor: pointer;
}

.menu__extra-input {
    appearance: none;
}

.menu__extra {
    display: none;
}

.menu__extra-link {
    display: block;
    margin: 0 0 20px 60px;
    width: 220px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #727272;
    text-align: center;
    padding-top: 5px;
}

.menu__extra-link:hover,
.menu__extra-link:focus {
    background-color: #ffb694;
    cursor: pointer;
}

/* checkbox options */

.popup__input:focus~.popup__btn {
    background-color: #ffb694;
}

.popup__input:checked~.popup__menu {
    display: block;
}

.popup__input:checked~.menu__extra-btn {
    display: none;
}

.menu__extra-input:focus+.menu__extra-btn {
    background-color: #ffb694;
}

.menu__extra-input:checked~.menu__extra {
    display: block;
}

.menu__extra-input:checked+.menu__extra-btn {
    display: none;
}