* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 20px;
}

.wrapper {
  display: grid;
  padding: 0 10%;
  grid-template:
    'header header' 170px
    'navigation description' auto
    / 2fr 5fr;
  min-height: 100vh;
  justify-items: center;
  background-color: rgb(179, 230, 255);
}

.header {
  grid-area: header;
  text-align: center;
  padding: 30px;
}

.navigation {
  grid-area: navigation;
  position: relative;
}

.description {
  grid-area: description;
  z-index: 5;
}

.nav-list {
  list-style: none;
  border-radius: 5px;
}

.nav-item {
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item:focus {
  box-shadow: 0 0 3px 3px #000080;
}

.nav-item:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-item.active::before {
  content: url('../image/Artifact_Badge_of_Courage.png');
  position: absolute;
  left: -35px;
  top: 0px;
}

.description-image {
  display: block;
  margin: 30px auto;
}

.description-text {
  margin: 40px 70px 40px 50px;
  max-width: 650px;
  line-height: 1.3;
}

.disabled {
  display: none;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    padding: 0 10%;
    grid-template:
      'header' minmax(min-content, max-content)
      'navigation' minmax(min-content, max-content)
      'description' auto
      / 1fr;
  }

  .nav-button {
    display: inline-block;
    padding: 10px;
    width: 210px;
    font-size: inherit;
    border: none;
    background-color: rgb(124, 211, 255);
    border-radius: 5px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .caret-down {
    font-weight: bold;
  }

  .nav-list {
    display: none;
    background-color: rgba(124, 211, 255, 0.9);
    position: absolute;
    width: 100%;
    top: 100%;
  }

  .nav-item {
    margin: 0px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .navigation:hover .nav-list {
    display: block;
    z-index: 10;
  }
}
