@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,700&display=swap');

@import './styles/reset.css';
@import './styles/responsive.css';

@import './styles/header.css';
@import './styles/loading-roller.css';

@import './styles/user-card-list.css';
@import './styles/user-card-item.css';

@import './styles/filter-subgroup.css';
@import './styles/filter-list.css';
@import './styles/filter-item.css';

@import './styles/icon-list.css';
@import './styles/icon-item.css';

@import './styles/page-link-list.css';
@import './styles/page-link-item.css';

:root {
    --gray-color: rgb(20,21,23);
    --gold-color: rgb(194, 165, 93);
    --green-color: #313B1A;
    --brown-color: #3A2A1B;
    --light-brown-color: #4a3825;
}

body {
    font-family: 'MedievalSharp', cursive;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px;
    color: white;
    background-color: var(--gray-color);
}

.init-page {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: #120F12;
    z-index:2;
}

.loading-info {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.header-wrapper {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}

.filter-group-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.page-link-list-wrapper {
    margin-bottom: 10px;
    order: -1;
}

.user-card-list-wrapper {
    min-height: calc(100vh - 368px);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-image: url('images/user-card-list-bgs/bg1.jpg');
    animation: bgSlider 30s ease-in-out infinite;
}

@keyframes bgSlider {
    0%,100% {
        background-image: url('images/user-card-list-bgs/bg1.jpg');
    }
    20% {
        background-image: url('images/user-card-list-bgs/bg2.jpg');
    }
    40% {
        background-image: url('images/user-card-list-bgs/bg3.png');
    }
    60% {
        background-image: url('images/user-card-list-bgs/bg4.jpg');
    }
    80% {
        background-image: url('images/user-card-list-bgs/bg5.png');
    }
}
