@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,700&display=swap');

@import './styles/reset.css';
@import './styles/responsive.css';

@import './styles/loading-page.css';
@import './styles/header.css';
@import './styles/state-keepers.css';
@import './styles/pagination.css';
@import './styles/user-cards.css';

:root {
    --gray-color: rgb(20,21,23);
    --gold-color: rgb(194, 165, 93);
    --green-color: #313B1A;
    --brown-color: #3A2A1B;
    --light-brown-color: #4a3825;
}

body {
    font-family: 'MedievalSharp', cursive;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px;
    color: white;
    background-color: var(--gray-color);
}

.header-wrapper {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}

.state-keeper-group-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.pagination-wrapper {
    margin-bottom: 10px;
    order: -1;
}

.user-card-list-wrapper {
    min-height: calc(100vh - 368px);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-image: url('images/user-card-list-backgrounds/background1.jpg');
    animation: bgSlider 30s ease-in-out infinite;
}

@keyframes bgSlider {
    0%,100% {
        background-image: url('images/user-card-list-backgrounds/background1.jpg');
    }
    20% {
        background-image: url('images/user-card-list-backgrounds/background2.jpg');
    }
    40% {
        background-image: url('images/user-card-list-backgrounds/background3.png');
    }
    60% {
        background-image: url('images/user-card-list-backgrounds/background4.jpg');
    }
    80% {
        background-image: url('images/user-card-list-backgrounds/background5.png');
    }
}
