* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-height: 100vh;
    background-color: peachpuff;

}
main {
    position: relative;
    min-width: 200px;
    min-height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    flex-grow: 1;
    border-radius: 3px;
}

.users {
    max-width: 1400px;
    min-width: 80%;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 100vh;
    padding: 2%;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.person-card {
    justify-items: center;
    align-self: flex-start;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: mediumpurple;
    box-shadow: 0 0 10px blanchedalmond;
    border-radius: 30px;
    overflow: hidden;
}

.name {
    font-weight: 800;
}

.email {
    font-size: 0.8rem;
}


.photo-container {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 5px;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    min-width: 100%;
    background-color: green;
}

.filters {
    justify-content: center;
    align-items: flex-start;
    background-color: deepskyblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.filters-header{
    width: 100%;
}


.filter, .sort-buttons {
    margin: 10px;
    height: 110px;
}
.sort-button {
    margin-top: 5px;
}

.photo {
    border-radius: 5px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 3px;
}

fieldset {
    border: 0;
    border-radius: 5px;
    padding: 20px;
    min-width: 0;
    background-color: white;
}

