@import "_misc/normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

$first: #12192c;
$second: #f5a623;
$third: #ededed;

$content-text: #552f00;
$content-backg: #d4a56a;

:root {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - 120px) 60px;
    overflow-x: hidden;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $first;
    border-bottom: 1px solid $third;
}

.burger {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    content: url("https://api.iconify.design/ic:baseline-apps.svg?color=black&height=24");
    background-color: #0a0a0a;
    top: 15px;
    left: 15px;
    border: 1px solid #0a0a0a;
    border-radius: 50%;
    background-color: #ffffff;

    &:hover {
        background-color: $second;
    }
    &:active {
        transition: 0.5s;
        transform: rotate(360deg);
        transform-origin: 50% 50%;
    }

    &:focus {
        background-color: $second;
    }
}

.label {
    font-size: 1.7rem;
    padding: 10px;
    text-transform: uppercase;
    color: $third;
}

.content__container {
    position: relative;
}

.aside {
    position: absolute;
    z-index: 4;
    padding-top: 11px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100%;
    min-height: 320px;
    background-color: $first;
    border-right: 1px solid $third;
    transition: 0.5s;
}

.nav {
    width: 90%;
    height: 60%;
    min-height: 300px;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        width: 80%;
        min-width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            background-color: $second;
            border-radius: 15px;
            border: 1px solid $third;

            & > span {
                color: $first;
            }
        }

        & > span {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 500;
            color: $third;
        }

        &:focus {
            background-color: $second;
            border-radius: 15px;
            border: 1px solid $third;

            & > span {
                color: $first;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 20px 120px;
    padding-left: 350px;
    padding-bottom: 15px;
    background-color: $content-backg;
    color: $content-text;
    overflow-y: auto;
    top: 0;
    font-size: 1.1rem;
    transition-delay: 0.5s;

    & > p {
        text-align: justify;
    }

    &__header {
        padding: 20px;
    }

    &__img {
        float: left;
        width: 300px;
        height: 220px;
        margin-right: 20px;
        margin-top: 20px;
        border: 2px solid $first;
    }

    &__text {
        text-align: justify;
    }
}

.footer {
    display: flex;
    z-index: 6;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $third;
    background-color: $first;

    &__text {
        display: inline-block;
        font-size: 1.1rem;
        color: $third;

        &:active {
            transition: 0.5s;
            transform: rotate(180deg);
            transform-origin: 50% 50%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .content {
        padding-left: 270px;
        padding-right: 70px;
        font-size: 1.15rem;

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__img {
            float: none;
            width: 450px;
            height: 320px;
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 800px) {
    .content {
        padding-left: 230px;
        padding-right: 30px;
        font-size: 1.175rem;

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__img {
            float: none;
            width: 270px;
            height: 150px;
            margin: 20px auto;
        }
    }

    .label {
        text-decoration: underline;
    }
}

@media screen and (max-width: 650px) {
    .burger {
        visibility: visible;
        right: -45px;
    }

    .content {
        padding-left: 30px;
        font-size: 1.2rem;

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__img {
            width: 270px;
            height: 150px;
            margin: 0 auto;
        }
    }

    .aside {
        left: -200px;
        visibility: hidden;
    }
}

@media screen and (max-width: 450px) {
    .burger {
        visibility: visible;
        right: -45px;
    }

    .content {
        padding-left: 30px;
        font-size: 1.2rem;

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__img {
            width: 270px;
            height: 150px;
            margin: 0 auto;
        }
    }

    .aside {
        left: -200px;
    }

    .label {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 320px) {
    .burger {
        visibility: visible;
        right: -45px;
    }

    .content {
        padding-left: 30px;
        font-size: 1.2rem;

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__img {
            width: 270px;
            height: 150px;
            margin: 0 auto;
        }
    }

    .aside {
        left: -200px;
    }

    .label {
        font-size: 1.4rem;
    }
}

.hide__sidebar {
    left: 0;
    visibility: visible;
}

.move_content {
    transition-delay: 0.5s;
}
.burger__stop {
    right: 155px;
}
