.img-000 {
  background-image: url('../img/000.jpg');
}
.img-001 {
  background-image: url('../img/001.jpg');
}
.img-002 {
  background-image: url('../img/002.jpg');
}
.img-003 {
  background-image: url('../img/003.jpg');
}
.img-004 {
  background-image: url('../img/004.jpg');
}
.img-005 {
  background-image: url('../img/005.jpg');
}
.img-006 {
  background-image: url('../img/006.jpg');
}
.img-007 {
  background-image: url('../img/007.jpg');
}
.img-008 {
  background-image: url('../img/008.jpg');
}
.img-009 {
  background-image: url('../img/009.jpg');
}
.img-010 {
  background-image: url('../img/010.jpg');
}
.img-011 {
  background-image: url('../img/011.jpg');
}
.img-012 {
  background-image: url('../img/012.jpg');
}
.img-013 {
  background-image: url('../img/013.jpg');
}
.img-014 {
  background-image: url('../img/014.jpg');
}
.img-015 {
  background-image: url('../img/015.jpg');
}
.img-016 {
  background-image: url('../img/016.jpg');
}
.img-017 {
  background-image: url('../img/017.jpg');
}
.img-018 {
  background-image: url('../img/018.jpg');
}
.img-019 {
  background-image: url('../img/019.jpg');
}
.img-020 {
  background-image: url('../img/020.jpg');
}
.img-021 {
  background-image: url('../img/021.jpg');
}
.img-022 {
  background-image: url('../img/022.jpg');
}
.img-023 {
  background-image: url('../img/023.jpg');
}
.img-024 {
  background-image: url('../img/024.jpg');
}
