* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  align-items: center;
}

.nav-icon, .popup-list {
  list-style: none;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-text-item {
  text-decoration: none;
  color: #5f5f5f;
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 8%;
  padding: 3px;
}


.nav-img-item, .menu-img {
  display: block;
  height: 32px;
  width: 32px;
}

.nav-img-item {
  margin-right: 22px;
  border: 2px solid transparent;
  border-radius: 8%;
  padding: 2px;
}

.a {
  outline: none;
}

.bell-item {
  width: 26px;
  height: 30px;
}

.bell-img {
  width: 100%;
  height: 100%;
}

.round-img {
  border-radius: 50%;
}

.hide-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.nav-img-item:focus, input:focus + label img, .nav-img-item:hover, .nav-text-item:focus, .nav-text-item:hover {
  outline: none;
  border: 2px solid rgb(145, 181, 248);
}

.popup {
  overflow-y: auto;
  padding-top: 8px;
  width: 100%;
  height: 550px;
}

.popup-wrapper {
  width: 370px;
  border: 1px solid #cdcdcd;
  box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  right: 70px;
  display: none;
}

.popup-wrapper::before, .popup-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
}

.popup-wrapper::before {
  border: 11px solid;
  left: 270px;
  border-color: transparent transparent #cdcdcd transparent;
}

.popup-wrapper::after {
  border: 10px solid;
  left: 271px;
  border-color: transparent transparent white transparent;
  order: 3;
}

#hoogle-menu:checked ~ .popup-wrapper {
  display: block;
}

.popup-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popup-item {
  display: grid;
  border: 2px solid transparent;
  border-radius: 2%;
  width: 110px;
  height: 120px;
  text-decoration: none;
  justify-items: center;
  align-items: flex-end;
  color: #5f5f5f;
}

.popup-item-img {
  max-width: 72px;
  max-height: 72px;
}

.popup-item:hover {
  border-color: #dcdcdc;
}

.popup-item:focus {
  border-color: rgb(145, 181, 248);
  width: 104px;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.more {
  display: block;
}

.more-bt-label {
  width: inherit;
  height: 33px;
  display: block;
  background-color: #ececec;
  color: #5f5f5f;
  margin-top: 10px;
  padding-top: 10px;
}

.more:focus + label, .more:hover + label {
  text-decoration: underline;
}

.more-bt-text {
  padding-left: 165px;
}

.popup-divider {
  display: none;
  width: 100%;
  border-top: solid 2px #dcdcdc;
  height: 3px;
  margin: 30px 10px;
}

.add-popup {
  display: none;
}

.more:checked ~ .add-popup {
  display: flex;
}

.more:checked ~ .more-bt-label {
  display: none;
}

.more:checked ~ .popup-divider {
  display: block;
}

.popup-bottom{
  width: 100%;
  padding: 15px 0;
}

.popup-bottom > a {
  color: #5f5f5f;
  text-decoration: none;
  margin: 0 90px;
}

.popup-bottom  a:focus, .popup-bottom:hover {
  outline: none;
  text-decoration: underline;
}
